{% extends "basic.html" %}
{% block title %}[[lang.company_name]]{% endblock %}
{% block css %}
    <link rel="stylesheet" href="[[url_for('static', filename='style/login.css')]]" type="text/css" media="all">
{% endblock %}
{% block content %}
    <main class="container" style="max-width: 1920px;margin-top: 54px;">
        <div class="row">
            <div class="col-xl-2 col-lg-3 d-none d-lg-block self-a-link">
                <ul style="margin-top: 20px;font-family: 'NotoSansCJK-Medium';">
                    <li style="font-size: 15px;font-family: 'NotoSansCJK-Bold';" class="text-uppercase">
                        [[lang.common_account]]
                    </li>
                    <li style="margin-top: 10px;font-size: 13px;[['text-decoration: underline;' if addition.categories=='accountDetail' else '']]" class="text-capitalize">
                        <a href="/[[lang_type]]/accountDetail">
                            [[lang.common_account_detail]]
                        </a>
                    </li>
                    {% if current_user.ROLE =='USER' %}
                    <li style="font-size: 13px;[['text-decoration: underline;' if addition.categories=='historyOrders' else '']]" class="text-capitalize">
                        <a href="/[[lang_type]]/historyOrders"
                           style="[['text-decoration: underline;' if addition.categories=='historyOrders' else '']]">
                            [[lang.common_historical_purchase]]
                        </a>
                    </li>
                    <li style="font-size: 13px;[['text-decoration: underline;' if addition.categories=='historySamples' else '']]" class="text-capitalize">
                        <a href="/[[lang_type]]/historySamples"
                           style="[['text-decoration: underline;' if addition.categories=='historySamples' else '']]">
                            [[lang.common_historical_sample]]
                        </a>
                    </li>
                    {% endif %}
                    {% if current_user.ROLE !='USER' %}
                    <li style="font-size: 13px;[['text-decoration: underline;' if addition.categories=='publishedProduct' else '']]" class="text-capitalize">
                        <a href="/[[lang_type]]/publishedProduct"
                           style="[['text-decoration: underline;' if addition.categories=='historyOrders' else '']]">
                            [[lang.common_published_products]]
                        </a>
                    </li>
                    {% endif %}
                    {% if current_user.ROLE =='ADMIN' or current_user.ROLE =='SUPER' %}
                    <li style="font-size: 13px;[['text-decoration: underline;' if addition.categories=='manageStaffAccounts' else '']]" class="text-capitalize">
                        <a href="/[[lang_type]]/manageStaffAccounts"
                           style="[['text-decoration: underline;' if addition.categories=='historyOrders' else '']]">
                            [[lang.common_manage_staff_accounts]]
                        </a>
                    </li>
                    <li style="font-size: 13px;[['text-decoration: underline;' if addition.categories=='manageCustomerAccounts' else '']]" class="text-capitalize">
                        <a href="/[[lang_type]]/manageCustomerAccounts"
                           style="[['text-decoration: underline;' if addition.categories=='historyOrders' else '']]">
                            [[lang.common_manage_customer_accounts]]
                        </a>
                    </li>
                    {% endif %}
                    <li style="font-size: 13px;">
                        <a href="javascript:;" class="text-capitalize"
                           style="[['text-decoration: underline;' if addition.categories=='reference' else '']]">
                            [[lang.common_logout]]
                        </a>
                    </li>
                </ul>
            </div>
            <div class="d-sm-none col-12" style="padding: 0">
                <div class="row" style="padding: 0">
                    <div class="btn-group" role="group" style="padding: 0">
                        <button type="button" class="btn btn-outline-secondary text-uppercase"
                                style="font-size: 15px;height: 45px;">[[lang.common_sort]]
                        </button>
                        <button type="button" class="btn btn-outline-secondary text-uppercase"
                                style="font-size: 15px;height: 45px;">[[lang.common_area]]</button>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-6 col-12" style="padding: 20px 30px 0 30px">
                <div class="row">
                    <div class="col-sm-6 col-12">
                        <p><span class="text-uppercase">[[lang.common_manage_customer_accounts]]</span></br><span style="font-size: 14px;font-family: NotoSansCJK-Medium">[[lang.common_manage_customer_accounts_page_tips]]</span></p>
                    </div>
                    <div class="col-sm-6 col-12">
                        <button class="btn btn-block text-uppercase d-none d-sm-block" id="change-user-info-btn"
                            style="background-color: #323232;color: #FFFFFF;width: 200px;float: right">
                            [[lang.account_add_an_account]]
                        </button>
                        <button class="btn btn-block text-uppercase d-sm-none" id="change-user-info-btn"
                            style="background-color: #323232;color: #FFFFFF;width: 100%;">
                            [[lang.account_add_an_account]]
                        </button>
                    </div>
                </div>
                <div class="row" style="margin-top: 30px">
                    <div class="col-4 d-none d-sm-block text-uppercase">[[lang.common_customers]]</div>
                    <div class="col-4 d-none d-sm-block text-uppercase">[[lang.account_number]]</div>
                    <div class="col-2 d-none d-sm-block text-uppercase">[[lang.orders_orders]]</div>
                    <div class="col-2 d-none d-sm-block text-uppercase">[[lang.common_area]]</div>
                    <hr class="layui-border-black d-none d-sm-block" style="margin-top: 5px;">
                    <div class="col-4 d-none d-sm-block">xx Company</div>
                    <div class="col-4 d-none d-sm-block">w2323233</div>
                    <div class="col-2 d-none d-sm-block">8888</div>
                    <div class="col-2 d-none d-sm-block">USA</div>
                    <hr class="layui-border-black d-none d-sm-block" style="margin-top: 10px;">
                    <div class="col-4 d-none d-sm-block">xx Company</div>
                    <div class="col-4 d-none d-sm-block">w2323233</div>
                    <div class="col-2 d-none d-sm-block">8888</div>
                    <div class="col-2 d-none d-sm-block">USA</div>
                    <hr class="layui-border-black d-none d-sm-block" style="margin-top: 10px;">
                </div>
                <div class="row d-sm-none" style="margin-top: 30px;font-family: NotoSansCJK-Medium">
                    <hr class="layui-border-black">
                    <div class="col-6">
                        <p class="text-capitalize">[[lang.common_customers]]</p>
                        <p class="text-capitalize">[[lang.account_number]]</p>
                        <p class="text-capitalize">[[lang.orders_orders]]</p>
                        <p class="text-capitalize">[[lang.common_area]]</p>
                    </div>
                    <div class="col-6" style="text-align: right">
                        <p>Customer</p>
                        <p>Customer</p>
                        <p>Customer</p>
                        <p>Customer</p>
                    </div>
                    <hr class="layui-border-black" style="margin-top: 10px;">
                    <div class="col-6">
                        <p class="text-capitalize">[[lang.common_customers]]</p>
                        <p class="text-capitalize">[[lang.account_number]]</p>
                        <p class="text-capitalize">[[lang.orders_orders]]</p>
                        <p class="text-capitalize">[[lang.common_area]]</p>
                    </div>
                    <div class="col-6" style="text-align: right">
                        <p>Customer</p>
                        <p>Customer</p>
                        <p>Customer</p>
                        <p>Customer</p>
                    </div>
                    <hr class="layui-border-black" style="margin-top: 10px;">
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 d-none d-lg-block self-a-link">
                <ul style="margin-top: 20px;font-family: 'NotoSansCJK-Medium';">
                    <li style="font-size: 15px;font-family: 'NotoSansCJK-Bold';" class="text-uppercase">
                        [[lang.common_sort]]
                    </li>
                    <li style="margin-top: 10px;font-size: 13px;[['text-decoration: underline;' if data.sort =='less_more' else '']]" class="text-capitalize">
                        <a href="/[[lang_type]]/manageCustomerAccounts?sort=less_more&area=[[data.area]]">
                            [[lang.common_order_less_more]]
                        </a>
                    </li>
                    <li style="font-size: 13px;[['text-decoration: underline;' if data.sort=='more_less' else '']]" class="text-capitalize">
                        <a href="/[[lang_type]]/manageCustomerAccounts?sort=more_less&area=[[data.area]]"
                           style="[['text-decoration: underline;' if addition.categories=='historyOrders' else '']]">
                            [[lang.common_order_more_less]]
                        </a>
                    </li>
                </ul>
                <ul style="margin-top: 35px;font-family: 'NotoSansCJK-Medium';">
                    <li style="font-size: 15px;font-family: 'NotoSansCJK-Bold';" class="text-uppercase">
                        [[lang.common_all_area]]
                    </li>
                    <li style="margin-top: 10px;font-size: 13px;[['text-decoration: underline;' if data.area=='public' else '']]" class="text-capitalize">
                        <a href="/[[lang_type]]/manageCustomerAccounts?sort=[[data.sort]]&area=public">[[lang.common_public]]</a>
                    </li>
                    {% for area in data.areas %}
                        <li style="font-size: 13px;[['text-decoration: underline;' if data.area == area.EN_NAME else '']]" class="text-capitalize">
                            <a href="/[[lang_type]]/manageCustomerAccounts?sort=[[data.sort]]&area=[[area.EN_NAME]]">[[area.NAME if lang_type == 'zh_cn' else area.EN_NAME]]</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>
{% endblock %}
{% block js %}
    <script>
        layui.config({
            base: '../static/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'layer', 'publicCommon'], function () {
            var $ = layui.$,
                admin = layui.admin,
                layer = layui.layer;

            $('#change-user-info-btn').on('click', function () {
                var lastName = $('#account-last-name').val()
                var firstName = $('#account-first-name').val()
                var companyName = $('#account-company-name').val()
                var pwd = $('#account-old-password').val()
                var nPwd = $('#account-new-password').val()
                if (lastName == "" || firstName == "" || companyName == "" || pwd == "" || nPwd == "") {
                    layer.msg('[[lang.common_complete_info]]', {icon: 4, time: 5000});
                } else {
                    admin.req({
                        method: "post",
                        url: '/api/user/update!update_user',
                        data: JSON.stringify({
                            "ID": '[[current_user.ID]]',
                            "LAST_NAME": lastName,
                            "FIRST_NAME": firstName,
                            "COMPANY_NAME": companyName,
                            "_PWD": pwd,
                            "NEW_PWD": nPwd,
                            "langType": '[[lang_type]]'
                        }),
                        done: function (res) {
                            layer.msg(res.msg);
                            if (res.data.userId == "") {
                                window.location.href = "/[[lang_type]]/login"
                            }
                        }
                    });
                }
            });

            $('#change-user-info-btn1').on('click', function () {
                var pwd = $('#account-old-password1').val()
                var nPwd = $('#account-new-password1').val()
                if (pwd == "" || nPwd == "") {
                    layer.msg('[[lang.common_complete_info]]', {icon: 4, time: 5000});
                } else {
                    admin.req({
                        method: "post",
                        url: '/api/user/update!update_user',
                        data: JSON.stringify({
                            "ID": '[[current_user.ID]]',
                            "_PWD": pwd,
                            "NEW_PWD": nPwd,
                            "langType": '[[lang_type]]'
                        }),
                        done: function (res) {
                            layer.msg(res.msg);
                            if (res.data.userId == "") {
                                window.location.href = "/[[lang_type]]/login"
                            }
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}