{% extends "base/basic.html" %}
{% block title %}[[message.SITE_NAME]]{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<div class="layui-fluid" style="padding: 0px;background-color: #F5E9F2">
    {% include 'public/head.html' %}
    <div class="layui-card" style="margin-top: 40px;width: 78%;margin-left: 10%;padding: 20px">
        <div class="layui-card-header">
            <span class="layui-breadcrumb" lay-filter="breadcrumb">
                <a href="home">VerbNet</a>
                <a><cite>Verbs</cite></a>
            </span>
        </div>
        <div class="layui-card-body">
            <p style="font-family: 'Courier New'; font-size: 35px;">Verbs</p>
            {% for frame in frames %}
            <br>
            <p style="font-family: 'Courier New'; font-size: 25px;">[[frame.NAME]]</p>
            <table class="layui-table">
                <colgroup><col><col><col></colgroup><thead><tr><th><b>Name</b></th><th><b>Frame</b></th><th><b>Frequency in Gigaword</b></th></tr></thead><tbody>
                {% for verb in frame.verbs %}
                <tr>
                    <td><a href="javascript:;" style="color: #AD5E9D" class="layuiadmin-public-verbs-tr"
                           data-frame-id="[[verb.ID]]">[[verb.NAME]]</a></td>
                    <td>
                        {% for item in verb.PARENT %}
                        <a href="javascript:;" style="color: #AD5E9D" class="layuiadmin-public-frames-tr"
                            data-frame-id="[[item.ID]]">[[item.NAME]]</a>→
                        {% endfor %}
                        <a href="javascript:;" style="color: #AD5E9D" class="layuiadmin-public-verbs-tr"
                           data-frame-id="[[verb.ID]]">[[verb.NAME]]</a>
                    </td>
                    <td>[[verb.FREQUENCY]]</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endfor %}
        </div>
    </div>
    <div style="height: 15px"></div>
</div>
{% endblock %}
{% block js %}
<script>
    layui.config({
        base: '../static/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'layer', 'publicCommon'], function () {
        var $ = layui.$,
            admin = layui.admin,
            layer = layui.layer;
        layer.load(2)

        $('.layuiadmin-public-frames-tr').on('click', function () {
            window.location.href = "framesList?frameId=" + $(this).data('frame-id')
        });
        $('.layuiadmin-public-verbs-tr').on('click', function () {
            window.location.href = "verbsList?verbId=" + $(this).data('frame-id')
        });

        layer.closeAll();
    });
</script>
{% endblock %}