{% extends "base/basic.html" %}
{% block title %}{% endblock %}
{% block css %}
<style>
    .label-required-next:after {
        top: 6px;
        right: 5px;
        color: red;
        content: '*';
        position: absolute;
        margin-left: 4px;
        font-weight: 700;
        line-height: 1.8em;
    }
</style>
{% endblock %}
{% block content %}

<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <div class="layui-form" style="padding: 20px 20px 0 0;">
        <div class="layui-form-item layui-hide">
            <input type="text" name="FRAME_ID" autocomplete="off" value="[[frameId]]" class="layui-input"
                   id="verb-add-frame-id">
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label label-required-next">NAME</label>
            <div class="layui-input-block">
                <input type="text" name="NAME" required lay-verify="required" placeholder="请输入name" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label label-required-next">PIN_YIN</label>
            <div class="layui-input-block">
                <input type="text" name="PIN_YIN" required lay-verify="required" placeholder="请输入pinyin"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label label-required-next">FREQUENCY</label>
            <div class="layui-input-block">
                <input type="text" name="FREQUENCY" required lay-verify="number" placeholder="请输入frequency"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="frame-add-verb-submit">提交</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    layui.config({
        base: '../static/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'element', 'verbAbout'], function () {
        var $ = layui.$
            , form = layui.form
            , element = layui.element
            , admin = layui.admin;


        form.on('submit(frame-add-verb-submit)', function (obj) {
            dataPost = obj.field
            dataPost['FRAME_ID'] = $('#verb-add-frame-id').val()
            admin.req({
                method: "post",
                url: 'api/data/add!add_verb',
                data: JSON.stringify(dataPost),
                done: function (res) {
                    if (res.code == 0) {
                        layer.msg("添加成功，可继续添加或关闭，注意请勿重复添加");
                    } else {
                        layer.msg(res.msg, {icon: 5});
                    }
                }
            });
        });

        form.verify({
            number: function (value, item) { //value：表单的值、item：表单的DOM对象
                if (value === "") {
                    return '必填项不能为空';
                } else if (!new RegExp("^[0-9]*$").test(value)) {
                    return '输入必须为数字';
                }
            }
        });
    })
</script>
{% endblock %}