{% extends "base/basic.html" %}
{% block title %}{% endblock %}
{% block css %}
<style>
    .label-required-next:after {
        top: 6px;
        right: 5px;
        color: red;
        content: '*';
        position: absolute;
        margin-left: 4px;
        font-weight: 700;
        line-height: 1.8em;
    }
</style>
{% endblock %}
{% block content %}

<div class="layui-tab layui-tab-brief">
    <div class="layui-form" style="padding: 20px 20px 0 0;">
        <div class="layui-form-item layui-form-text layui-hide">
            <label class="layui-form-label">CONST</label>
            <div class="layui-input-block">
                <input type="text" name="ID" value="[[verbPattern.ID]]" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">CONST</label>
            <div class="layui-input-block">
                <input type="text" name="CONSTRUCTION" value="[[verbPattern.CONSTRUCTION]]" placeholder="请输入construction" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label label-required-next">PATTERN</label>
            <div class="layui-input-block">
                <input type="text" name="PATTERN" required  lay-verify="required" value="[[verbPattern.PATTERN]]"
                       placeholder="请输入pattern" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="verb-pattern-update-submit">提交</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    layui.config({
        base: '../static/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'element', 'verbAbout'], function () {
        var $ = layui.$
            , form = layui.form
            , element = layui.element
            , admin = layui.admin;


        form.on('submit(verb-pattern-update-submit)', function (obj) {
            if (obj.field['CONSTRUCTION'] === '') obj.field['CONSTRUCTION'] = ' '
            admin.req({
                method: "post",
                url: 'api/data/update!verb_pattern_info',
                data: JSON.stringify(obj.field),
                done: function (res) {
                    if (res.code == 0) {
                        layer.msg("更新成功");
                    } else {
                        layer.msg(res.msg, {icon: 5});
                    }
                }
            });
        });
    })
</script>
{% endblock %}