{% extends "base/basic.html" %}
{% block title %}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">
                    Verb列表--点击Verb加载Verb数据
                    <a href="javascript:;" layadmin-event="verbFrameTreeRefresh" title="刷新" id="refresh-button">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </div>
                <div class="layui-card-body">
                    <div id="LAY_verb_frame_tree"></div>
                    <div style="height: 20px;"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md8" id="verbCard">
            <iframe id="verbIframe" src="" frameborder="0" height="100%" width="100%" scrolling="auto"></iframe>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    autoheight();
	function autoheight(){
		var winHeight=0;
		if (window.innerHeight)
			winHeight = window.innerHeight;
		else if ((document.body) && (document.body.clientHeight))
			winHeight = document.body.clientHeight;
		if (document.documentElement && document.documentElement.clientHeight)
			winHeight = document.documentElement.clientHeight;
		document.getElementById("verbCard").style.height= winHeight +"px";
	}
	window.οnresize=autoheight; //浏览器窗口发生变化时同时变化DIV高度
    layui.config({
        base: '../static/' //静态资源所在路径
    }).extend({
        index: 'lib/index', //主入口模块
    }).use(['index', 'tree', 'util'], function () {
        var $ = layui.$,
            admin = layui.admin,
            tree = layui.tree,
            layer = layui.layer,
            util = layui.util;

        var remainFrameId = ''
        admin.events.verbFrameTreeRefresh = function (othis) {
            var refreshBtn = layer.load(2);
            admin.req({
                method: "get",
                url: 'api/data/get!get_all_frame_with_verb?spreadId=' + remainFrameId,
                done: function (res) {
                    tree.reload('verbFrameTree', {data: res.data});
                    layer.close(refreshBtn);
                }
            })
        };

        admin.req({
            method: "get",
            url: 'api/data/get!get_all_frame_with_verb',
            done: function (res) {
                if (res.code == 0) {
                    tree.render({
                        elem: '#LAY_verb_frame_tree'
                        , data: res.data
                        , id: 'verbFrameTree'
                        , onlyIconControl: true
                        , edit: ['add', 'del']
                        , click: function (obj) {
                            if (obj.data.id === 'verb-root-node-id') {
                                layer.msg("顶级根节点不允许进行操作，请选择其他子节点操作！");
                            } else if (obj.data.has_verb === 0 && obj.data.children.length !== 0) {
                                layer.msg("存在子级Frame，不允许操作");
                            } else if (obj.data.if_verb !== 1) {
                                layer.load(2);
                                $('#verbIframe').attr('src', 'verbFileAddPage?frameId=' + obj.data.id)
                                remainFrameId = obj.data.id
                            } else {
                                layer.load(2);
                                $('#verbIframe').attr('src', 'verbDetails?verbId=' + obj.data.id)
                                remainFrameId = obj.data.id
                            }
                        }
                        , operate: function (obj) {
                            var type = obj.type; //得到操作类型：add、edit、del
                            var data = obj.data; //得到当前节点的数据
                            var elem = obj.elem; //得到当前节点元素

                            //Ajax 操作
                            var id = data.id; //得到节点索引
                            if (type === 'add') { //增加节点
                                remainFrameId = obj.data.id
                                if ((obj.data.has_verb === 0 && obj.data.children.length !== 0) || obj.data.if_verb === 1) {
                                    layer.msg("存在子级Frame或为Verb，不允许添加Verb");
                                    $('#refresh-button').trigger('click');
                                } else {
                                    layer.open({
                                        type: 2
                                        , title: '添加Verb--不关闭弹出框，请勿重复添加'
                                        , content: 'verbAddPage?frameId=' + obj.data.id
                                        , maxmin: true
                                        , area: ['500px', '300px']
                                        , success: function (layero, index) { }
                                        , cancel: function () {
                                            $('#refresh-button').trigger('click');
                                        }
                                    });
                                }
                            } else if (type === 'del') {
                                if (obj.data.if_verb === 0) {
                                    layer.msg("Frame节点不允许在此处进行删除");
                                    $('#refresh-button').trigger('click');
                                } else {
                                    deleteLoader = layer.load(2)
                                    admin.req({
                                        method: "post",
                                        url: 'api/data/delete!delete_verb_by_id',
                                        data: JSON.stringify({'ID': obj.data.id}),
                                        done: function (res) {
                                            layer.close(deleteLoader)
                                            layer.msg(res.msg);
                                        }
                                    });
                                }
                            };
                        }
                    });
                    parent.layer.closeAll();
                } else {
                    layer.msg(res.msg, {icon: 5});
                }
            }
        });
    });
</script>
{% endblock %}
