{% extends "base/basic.html" %}
{% block title %}{% endblock %}
{% block css %}{% endblock %}
{% block content %}

<div class="layui-card">
    <div class="layui-card-header">
        <div class="layui-form-item layui-hide">
            <input type="text" name="VERB_ID" autocomplete="off" value="[[verb.ID]]" class="layui-input" id="verb-details-verb-id">
        </div>
        <button class="layui-btn" layadmin-event="verbEdit" style="margin-top: 15px;">修改Verb</button>
<!--        <button class="layui-btn" layadmin-event="verbPatternAdd" style="margin-top: 15px;">添加Pattern</button>-->
        <button class="layui-btn" layadmin-event="verbSampleBatchAdd" style="margin-top: 15px;">添加Sample</button>
        <button class="layui-btn" layadmin-event="verbBatchDelete" style="margin-top: 15px;">删除Sample</button>
        <a class="layui-btn" href="api/export/export!verb_info?verbId=[[verb.ID]]" style="margin-top: 15px;">导出Verb</a>
    </div>
    <div class="layui-card-body">
        <input type="text" name="NAME" value="[[verb.NAME]]" required  lay-verify="required" placeholder="请输入name"
               autocomplete="off" class="layui-input" style="margin-top: 20px;" id="verb-details-edit-verb-name">
        <input type="text" name="PIN_YIN" value="[[verb.PIN_YIN]]" required  lay-verify="required" placeholder="请输入pingyin"
               autocomplete="off" class="layui-input" style="margin-top: 20px;" id="verb-details-edit-verb-pinyin">
        <input type="text" name="FREQUENCY" value="[[verb.FREQUENCY]]" required  lay-verify="required" placeholder="请输入frequency"
               autocomplete="off" class="layui-input" style="margin-top: 20px;" id="verb-details-edit-verb-frequency">
        {% for pattern in verb.pattern %}
        <fieldset class="layui-elem-field layui-field-title" id="[[pattern.ID]]">
            <legend>
                [[pattern.PATTERN]]
                <a class="layui-btn layui-btn-normal layui-btn-xs" layadmin-event="verbPatternEdit" style="margin-left: 10px;"
                   data-patternId="[[pattern.ID]]"><i class="layui-icon layui-icon-edit"></i>修改</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" layadmin-event="verbPatternDel" data-patternId="[[pattern.ID]]">
                    <i class="layui-icon layui-icon-delete"></i>删除</a>
            </legend>
            <div class="layui-field-box">
                {% for sample in pattern.samples %}
                <input type="checkbox" name="verbSampleCheck" value="[[sample.ID]]" style="float:left;margin-top: 6px;">
                <p layadmin-event="clickVerbSample" data-sampleId="[[sample.ID]]">&nbsp<b>•</b> [[sample.CONTENT]]</p>
                {% endfor %}
            </div>
        </fieldset>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    layui.config({
        base: '../static/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'verbAbout'], function () {
        var $ = layui.$
            , form = layui.form
            , admin = layui.admin;

        parent.layer.closeAll();
    })
</script>
{% endblock %}