{% extends "base/basic.html" %}
{% block title %}{% endblock %}
{% block css %}
<style>
    /* 防止下拉框的下拉列表被隐藏---必须设置--- */
    .layui-table-cell {
        overflow: visible !important;
    }

    /* 使得下拉框与单元格刚好合适 */
    td .layui-form-select {
        margin-top: -10px;
        margin-left: -15px;
        margin-right: -15px;
    }
</style>
{% endblock %}
{% block content %}

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <input type="text" name="NAME" placeholder="请输入命名" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-inline">
                    <input type="text" name="TARGET" placeholder="请输入目标地址" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-inline">
                    <select name="ACTION">
                        <option value="" selected>全部</option>
                        <option value="view">视图</option>
                        <option value="edit">修改</option>
                        <option value="delete">删除</option>
                        <option value="read">查看</option>
                        <option value="create">创建</option>
                    </select>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-privilege" lay-submit
                            lay-filter="LAY-privilege-front-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                    <button class="layui-btn layuiadmin-btn-privilege" data-type="batchdel">删除</button>
                    <button class="layui-btn layuiadmin-btn-privilege" data-type="add">添加</button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <table id="LAY-privilege-manage" lay-filter="LAY-privilege-manage"></table>
            <script type="text/html" id="privilegeToolbarDemo"></script>
            <script type="text/html" id="actionTpl">
                <select name="ACTION" lay-verify="required" lay-filter="tableSelect">  <!-- lay-filter="watch"-->
                    {% raw %}
                    <option value="view" {{ d.ACTION===
                    'view' ? 'selected' : '' }}>视图</option>
                    <option value="edit" {{ d.ACTION===
                    'edit' ? 'selected' : '' }}>修改</option>
                    <option value="delete" {{ d.ACTION===
                    'delete' ? 'selected' : '' }}>删除</option>
                    <option value="read" {{ d.ACTION===
                    'read' ? 'selected' : '' }}>查看</option>
                    <option value="create" {{ d.ACTION===
                    'create' ? 'selected' : '' }}>创建</option>
                    {% endraw %}
                </select>
            </script>
            <script type="text/html" id="parentTpl">
                <select name="PARENT_ID" class="privilege_select" lay-filter="tableSelect">
                    <option value={{d.PARENT_ID}} selected>{{ d.PARENT_NAME }}</option>
                </select>
            </script>
            <script type="text/html" id="table-privilege-opt">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">
                    <i class="layui-icon layui-icon-edit"></i>修改</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                        class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    layui.config({
        base: '../static/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'roleAbout', 'element', 'table', 'form'], function () {
        var $ = layui.$
            , form = layui.form
            , table = layui.table
            , admin = layui.admin;

        layer.prompt({
            title: '该模块功能建议专业人员进行操作，继续请输入YES，并确认',
            formType: 1,
            closeBtn: false,
            btn: ['确定']
        }, function(pass, index){
            if (pass === "YES") {
                layer.close(index);
            }
        });

        //监听搜索
        form.on('submit(LAY-privilege-front-search)', function (data) {
            var field = data.field;
            //执行重载
            table.reload('LAY-privilege-manage', {
                url: 'api/role/get!privilege_list_filter_by_param',
                methods: "get",
                where: field
            });
        });

        //监听锁定操作
        form.on('select(tableSelect)', function (data) {
            var elem = $(data.elem);
            var trElem = elem.parents('tr');
            var tableData = table.cache['LAY-privilege-manage'];
            // 更新到表格的缓存数据中，才能在获得选中行等等其他的方法中得到更新之后的值
            tableData[trElem.data('index')][elem.attr('name')] = data.value;
        });


        //事件
        var active = {
            batchdel: function () {
                var checkStatus = table.checkStatus('LAY-privilege-manage')
                    , checkData = checkStatus.data; //得到选中的数据

                if (checkData.length === 0) {
                    return layer.msg('请选择数据');
                }
                layer.confirm('确认删除所选中数据？', {
                    icon: 3
                    , title: '敏感操作'
                }, function (index) {
                    admin.req({
                        method: "post",
                        url: 'api/role/delete!delete_privileges',
                        data: JSON.stringify(checkData),
                        done: function (res) {
                            if (res.code == 0) {
                                table.reload('LAY-privilege-manage');
                                layer.msg('已删除');
                            } else {
                                layer.msg(res.msg, {icon: 5});
                            }
                        }
                    });
                });
            }
            , add: function () {
                layer.open({
                    type: 2
                    , title: '添加权限'
                    , content: 'privilegeForm'
                    , maxmin: true
                    , area: ['700px', '400px']
                    , btn: ['确定', '取消']
                    , yes: function (index, layero) {
                        var iframeWindow = window['layui-layer-iframe' + index]
                            , submitID = 'LAY-privilege-front-submit'
                            , submit = layero.find('iframe').contents().find('#' + submitID);

                        //监听提交
                        iframeWindow.layui.form.on('submit(' + submitID + ')', function (data) {
                            var field = data.field; //获取提交的字段
                            admin.req({
                                method: "post",
                                url: 'api/role/add!add_privilege',
                                data: JSON.stringify(field),
                                done: function (res) {
                                    if (res.code == 0) {
                                        layer.msg(res.msg, {
                                            offset: '15px'
                                            , icon: 1
                                            , time: 1000
                                        }, function () {
                                            table.reload('LAY-privilege-manage'); //数据刷新
                                            layer.close(index); //关闭弹层
                                        });
                                    } else {
                                        layer.msg(res.msg, {icon: 5});
                                    }
                                }
                            });
                        });

                        submit.trigger('click');
                    }
                });
            }
        };

        $('.layui-btn.layuiadmin-btn-privilege').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        parent.layer.closeAll();
    });
</script>
{% endblock %}
