{% extends "base/basic.html" %}
{% block title %}{% endblock %}
{% block css %}
<style>
    .label-required-next:after {
        top: 6px;
        right: 5px;
        color: red;
        content: '*';
        position: absolute;
        margin-left: 4px;
        font-weight: 700;
        line-height: 1.8em;
    }
</style>
{% endblock %}
{% block content %}

<div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin"
     style="padding: 20px 20px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label label-required-next">命名</label>
        <div class="layui-input-inline">
            <input type="text" name="NAME" lay-verify="required" placeholder="请输入命名" autocomplete="off"
                   value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label label-required-next">目标地址</label>
        <div class="layui-input-inline">
            <input type="text" name="TARGET" placeholder="请输入目标地址" autocomplete="off"
                   value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label label-required-next">动作</label>
        <div class="layui-input-inline">
            <select name="ACTION">
                <option value=""></option>
                <option value="view">视图</option>
                <option value="edit">修改</option>
                <option value="delete">删除</option>
                <option value="read">查看</option>
                <option value="create">创建</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea name="DESCRIPTION" placeholder="请输入内容" value="" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="LAY-privilege-front-submit" id="LAY-privilege-front-submit" value="确认">
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    layui.config({
        base: '../static/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function () {
        var $ = layui.$
            , form = layui.form
            , admin = layui.admin;
    })
</script>
{% endblock %}