{% extends "base/basic.html" %}
{% block title %}{% endblock %}
{% block css %}{% endblock %}
{% block content %}

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <input type="text" name="NAME" placeholder="请输入角色名称" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-role" lay-submit
                            lay-filter="LAY-role-front-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-role" data-type="batchdel">删除</button>
                    <button class="layui-btn layuiadmin-btn-role" data-type="add">添加</button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <table id="LAY-role-manage" lay-filter="LAY-role-manage"></table>
            <script type="text/html" id="roleToolbarDemo"></script>
            <script type="text/html" id="typeTpl">
                {{ d.TYPE == 1 ? '系统角色' : '自定义角色'}}
            </script>
            <script type="text/html" id="table-role-opt">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">
                    <i class="layui-icon layui-icon-edit"></i>修改</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                        class="layui-icon layui-icon-delete"></i>删除</a>
                <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="addPrivilege"><i
                        class="layui-icon layui-icon-key"></i>赋权</a>
            </script>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    layui.config({
        base: '../static/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'roleAbout', 'element', 'table', 'form'], function () {
        var $ = layui.$
            , form = layui.form
            , table = layui.table
            , admin = layui.admin;

        //监听搜索
        form.on('submit(LAY-role-front-search)', function (data) {
            var field = data.field;
            //执行重载
            table.reload('LAY-role-manage', {
                url: 'api/role/get!role_list_filter_by_param',
                methods: "get",
                where: field
            });
        });

        //事件
        var active = {
            batchdel: function () {
                var checkStatus = table.checkStatus('LAY-role-manage')
                    , checkData = checkStatus.data; //得到选中的数据

                if (checkData.length === 0) {
                    return layer.msg('请选择数据');
                }
                layer.confirm('确认删除所选中数据？', {
                    icon: 3
                    , title: '敏感操作'
                }, function (index) {
                    admin.req({
                        method: "post",
                        url: 'api/role/delete!delete_roles',
                        data: JSON.stringify(checkData),
                        done: function (res) {
                            if (res.code == 0) {
                                table.reload('LAY-role-manage');
                                layer.msg('已删除');
                            } else {
                                layer.msg(res.msg, {icon: 5});
                            }
                        }
                    });
                });
            }
            , add: function () {
                layer.open({
                    type: 2
                    , title: '添加角色'
                    , content: 'roleAddForm'
                    , maxmin: true
                    , area: ['700px', '300px']
                    , btn: ['确定', '取消']
                    , yes: function (index, layero) {
                        var iframeWindow = window['layui-layer-iframe' + index]
                            , submitID = 'LAY-role-front-submit'
                            , submit = layero.find('iframe').contents().find('#' + submitID);

                        //监听提交
                        iframeWindow.layui.form.on('submit(' + submitID + ')', function (data) {
                            var field = data.field; //获取提交的字段
                            admin.req({
                                method: "post",
                                url: 'api/role/add!add_role',
                                data: JSON.stringify(field),
                                done: function (res) {
                                    if (res.code == 0) {
                                        layer.msg(res.msg, {
                                            offset: '15px'
                                            , icon: 1
                                            , time: 1000
                                        }, function () {
                                            table.reload('LAY-role-manage'); //数据刷新
                                            layer.close(index); //关闭弹层
                                        });
                                    } else {
                                        layer.msg(res.msg, {icon: 5});
                                    }
                                }
                            });
                        });

                        submit.trigger('click');
                    }
                });
            }
        };

        $('.layui-btn.layuiadmin-btn-role').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        parent.layer.closeAll();
    });
</script>
{% endblock %}
