{% extends "base/basic.html" %}
{% block title %}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<input type="hidden" id="parentRoleID">
<div class="layui-form-item layui-hide">
    <input type="text" autocomplete="off" value="[[roleId]]" id="role-remain-id">
</div>
<table id="LAY-role-privilege-manage" lay-filter="LAY-role-privilege-manage"></table>
<script type="text/html" id="roleFormToolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="setPrivilege">更新权限</button>
    </div>
</script>
{% endblock %}
{% block js %}
<script>
    layui.config({
        base: '../static/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'roleAbout'], function () {
        var $ = layui.$
            , admin = layui.admin
            , table = layui.table
            , form = layui.form;

        {% raw %}
        table =  $.extend(table, {config: {checkName: 'checked'}});
        table.render({
            elem: '#LAY-role-privilege-manage'
            , url: 'api/role/get!all_privilege_info_with_role_check?parentRoleID=' + $('#role-remain-id').val()
            ,toolbar: '#roleFormToolbarDemo'
            , defaultToolbar: []
            , cols: [[
                {type: 'checkbox', fixed: 'left'}
                , {field: 'ID', title: 'ID', sort: true, style: 'overflow:hidden'}
                , {field: 'NAME', title: '命名', sort: true, edit: 'text'}
                , {field: 'TARGET', title: '权限目标地址'} // event: 'setRole'
                , {field: 'ACTION', title: '动作', sort: true}
            ]]
            , loading: true
            , height: 'full'
            , text: '对不起，加载出现异常！'
        });
        {% endraw %}

        table.on('toolbar(LAY-role-privilege-manage)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            privilege_ids = new Array()
            for (var i = 0; i < checkStatus.data.length; i++) {
                privilege_ids[i] = checkStatus.data[i].ID
            }
            postData = {'roleId':$('#role-remain-id').val(),'privilege':privilege_ids}
            if (obj.event === 'setPrivilege') {
                admin.req({
                    method: "post",
                    url: 'api/role/update!role_privilege',
                    data: JSON.stringify(postData),
                    done: function (res) {
                        if (res.code == 0) {
                            layer.msg(res.msg, {
                                offset: '15px'
                                , icon: 1
                                , time: 1000
                            });
                        } else {
                            layer.msg(res.msg, {icon: 5});
                        }
                    }
                });
            }
        });
    })

</script>
{% endblock %}