{% extends "base/basic.html" %}
{% block title %}[[message.SITE_NAME]]{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<div class="layui-fluid" style="padding: 0px;background-color: #F5E9F2">
    {% include 'public/head.html' %}
    <div style="margin-top: 20px;width: 80%;margin-left: 10%;padding: 20px;" id="LAY-show-home-page">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md4">
                <div class="layui-card" style="padding: 10px">
                    <div id="frames-list-tree-all"></div>
                </div>
            </div>
            <div class="layui-col-md8" id="frameCard">
                <div class="layui-card" style="padding: 20px">
                    <div style="height: 50px;">
                        <span class="layui-breadcrumb" lay-filter="breadcrumb" style="line-height: 50px;">
                            <a href="home">VerbNet</a>
                            <a href="frames">Frames</a>
                            <a><cite>[[frameInfo.NAME]]</cite></a>
                        </span>
                    </div>
                    <p style="font-size: 35px;">[[frameInfo.FRAME_TYPE]] frame:[[frameInfo.NAME]]</p><br>
                    <p style="font-size: 20px;">Frame Relation</p><br>
                    <p>
                        {% for parent in frameInfo.parent %}
                        <a href="javascript:;" style="color: #AD5E9D" class="layuiadmin-public-frames-tr"
                           data-frame-id="[[parent.id]]">[[parent.name]]</a>→
                        {% endfor %}
                        <a href="javascript:;" style="color: #AD5E9D" class="layuiadmin-public-frames-tr"
                           data-frame-id="[[frameInfo.ID]]">[[frameInfo.NAME]]</a>
                    </p><br>
                    <p style="font-size: 20px;">Definition</p><br>
                    <p style="font-size: 14px;">[[frameInfo.DEF]]</p><br>
                    <p style="font-size: 20px;">Lemma</p><br>
                    <p style="font-size: 14px;">
                        &nbsp<b>•</b>
                        {% for verb in frameInfo.verbs %}
                        <a href="verbsList?verbId=[[verb.ID]]" style="color: #AD5E9D">[[verb.NAME]]</a>
                        {% endfor %}
                    </p><br>
                    <p style="font-size: 20px;">Core Frame Elements</p><br>
                    <p style="font-size: 14px;display: none;"  class="frames-sample-text-to-html">
                        {% for element in frameInfo.coreElements %}
                        [[element.TYPE]]&nbsp
                        {% endfor %}
                    </p><br>
                    {% if frameInfo.IMAGE_URL %}
                    <p style="font-size: 20px;">Conceptual Schema</p><br>
                    <img src="[[frameInfo.IMAGE_URL]]">
                    {% endif %}
                    <p style="font-size: 30px;">Core Frame Elements</p><br>
                    {% for element in frameInfo.coreElements %}
                    <p style="font-size: 25px;"><span style="background-color: [[element.color]];">[[element.ELEMENT_TYPE]]</span>
                    </p><br>
                    <p style="font-size: 17px;">Definition</p><br>
                    <p style="font-size: 14px;">[[element.DEF]]</p><br>
                    <p style="font-size: 17px;">Lemma</p><br>
                    <p style="font-size: 14px;">&nbsp<b>•</b> [[element.LEMMA]]</p><br>
                    <p style="font-size: 17px;">Examples</p><br>
                    <p style="font-size: 14px;display: none;" class="frames-sample-text-to-html">&nbsp<b>•</b> [[element.SAMPLE]]
                    </p><br>
                    {% endfor %}
                    <p style="font-size: 30px;">Non-core Frame Elements</p><br>
                    {% for element in frameInfo.nonElements %}
                    <p style="font-size: 25px;"><span style="background-color: [[element.color]];">[[element.ELEMENT_TYPE]]</span>
                    </p><br>
                    <p style="font-size: 17px;">Definition</p><br>
                    <p style="font-size: 14px;">[[element.DEF]]</p><br>
                    <p style="font-size: 17px;">Lemma</p><br>
                    <p style="font-size: 14px;">&nbsp<b>•</b> [[element.LEMMA]]</p><br>
                    <p style="font-size: 17px;">Examples</p><br>
                    <p style="font-size: 14px;display: none;" class="frames-sample-text-to-html">&nbsp<b>•</b> [[element.SAMPLE]]
                    </p><br>
                    {% endfor %}
                    <p style="font-size: 30px;">Construction Marker</p><br>
                    {% for element in frameInfo.markerElements %}
                    <p style="font-size: 25px;"><span style="background-color: [[element.color]];">[[element.ELEMENT_TYPE]]</span>
                    </p><br>
                    <p style="font-size: 17px;">Definition</p><br>
                    <p style="font-size: 14px;">[[element.DEF]]</p><br>
                    <p style="font-size: 17px;">Lemma</p><br>
                    <p style="font-size: 14px;">&nbsp<b>•</b> [[element.LEMMA]]</p><br>
                    <p style="font-size: 17px;">Examples</p><br>
                    <p style="font-size: 14px;display: none;" class="frames-sample-text-to-html">&nbsp<b>•</b> [[element.SAMPLE]]
                    </p><br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div style="height: 50px"></div>
</div>
{% endblock %}
{% block js %}
<script>
    layui.config({
        base: '../static/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'layer', 'publicCommon', 'tree'], function () {
        var $ = layui.$,
            tree = layui.tree,
            admin = layui.admin,
            layer = layui.layer;
        layer.load(2)

        // $('#subFrameIframe').load(function () {
        //     $(this).height($(this).contents().height() - 100);
        //     $(this).width($(this).contents().width());
        // });
        admin.req({
            method: "get",
            url: 'api/data/get!get_all_frame_with_verb',
            done: function (res) {
                if (res.code == 0) {
                    tree.render({
                        elem: '#frames-list-tree-all'
                        , data: res.data[0].children
                        , showLine: false  //是否开启连接线
                        , click: function (obj) {
                            if (obj.data.if_verb !== 1) {
                                window.location.href = "framesList?frameId=" + obj.data.id
                            } else if (obj.data.if_verb === 1) {
                                window.location.href = "verbsList?verbId=" + obj.data.id
                            }
                        }
                    });
                    for (var i = 0; i < $('.frames-sample-text-to-html').length; i++) {
                        $('.frames-sample-text-to-html')[i].innerHTML = $('.frames-sample-text-to-html')[i].innerText
                        $('.frames-sample-text-to-html')[i].setAttribute('style', 'display: block')
                    }
                } else {
                    layer.msg(res.msg, {icon: 5});
                }
                layer.closeAll();
            }
        });

        $('.layuiadmin-public-frames-tr').on('click', function () {
            window.location.href="framesList?frameId=" + $(this).data('frame-id')
        });
    });
</script>
{% endblock %}