{% extends "base/basic.html" %}
{% block title %}{% endblock %}
{% block css %}
<style>
    .label-required-next:after {
        top: 6px;
        right: 5px;
        color: red;
        content: '*';
        position: absolute;
        margin-left: 4px;
        font-weight: 700;
        line-height: 1.8em;
    }
</style>
{% endblock %}
{% block content %}

<fieldset class="layui-elem-field" style="background-color: #fff;">
    <legend>Frame基本信息</legend>
    <div class="layui-field-box">
        <div class="layui-form" style="padding: 20px 20px 0 0;background-color: #fff;">
            <div class="layui-form-item layui-hide">
                <input type="text" name="ID" lay-verify="required" placeholder="请输入Frame" autocomplete="off"
                           value="[[frame.ID]]" class="layui-input" id="frame-remain-id">
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">导出</label>
                <div class="layui-input-block">
                    <a class="layui-btn layui-btn-primary" href="api/export/export!frame_info?frameId=[[frame.ID]]">当前Frame数据</a>
                    <a class="layui-btn layui-btn-primary" href="api/export/export!frame_with_sub_info?frameId=[[frame.ID]]">Frame级联数据</a>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label label-required-next">父级Frame</label>
                <div class="layui-input-inline">
                    <select name="PARENT_ID" lay-verify="required" class="parentFrameSelect" lay-search>
                        <option value="[[frame.PARENT_ID]]">[[frame.parent.NAME]]</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">图片</label>
                <div class="layui-input-inline">
                    <input name="IMAGE_URL" id="LAY_frame_avatarSrc" placeholder="图片地址"
                           value="[[frame.IMAGE_URL]]" class="layui-input">
                </div>
                <div class="layui-input-inline layui-btn-container" style="width: auto;">
                    <button type="button" class="layui-btn layui-btn-primary" id="LAY_frame_avatarUpload">
                        <i class="layui-icon"></i>上传图片
                    </button>
                    <button class="layui-btn layui-btn-primary" layadmin-event="frameAvartatPreview">查看图片
                    </button>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label label-required-next">FrameType</label>
                <div class="layui-input-inline" style="width: 300px">
                    <input type="radio" name="FRAME_TYPE" value="Archi" title="Archi" [[ 'checked' if frame.FRAME_TYPE is equalto 'Archi' else '' ]]>
                    <input type="radio" name="FRAME_TYPE" value="Primary" title="Primary" [[ 'checked' if frame.FRAME_TYPE is equalto 'Primary' else '' ]]>
                    <input type="radio" name="FRAME_TYPE" value="Basic" title="Basic" [[ 'checked' if frame.FRAME_TYPE is equalto 'Basic' else '' ]]>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label label-required-next">Frame</label>
                <div class="layui-input-inline">
                    <input type="text" name="NAME" lay-verify="required" placeholder="请输入Frame" autocomplete="off"
                           value="[[frame.NAME]]" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">Def</label>
                <div class="layui-input-block">
                    <textarea name="DEF" placeholder="请输入Def" value="[[frame.DEF]]" class="layui-textarea"
                              style="width: 100%;height: 50px;">[[frame.DEF]]</textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">Pattern</label>
                <div class="layui-input-block">
                    <textarea name="PATTERN" placeholder="请输入Pattern" value="[[frame.PATTERN]]" class="layui-textarea"
                              style="width: 100%;height: 50px;">[[frame.PATTERN]]</textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">Sample</label>
                <div class="layui-input-block">
                    <textarea name="SAMPLE" placeholder="请输入Sample" value="[[frame.SAMPLE]]" class="layui-textarea"
                              style="width: 100%;height: 50px;">[[frame.SAMPLE]]</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="update-basic-info">提交更新</button>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<fieldset class="layui-elem-field" style="background-color: #fff;">
    <legend>Core Frame Elements</legend>
    <div class="layui-field-box">
        <div class="layui-card-header">
            <button class="layui-btn"  layadmin-event="frameElementAdd" data-type="Core Frame Elements">新增</button>
            <button class="layui-btn"  layadmin-event="frameElementEdit">修改</button>
            <button class="layui-btn"  layadmin-event="frameElementDelete">删除</button>
        </div>
        <div class="layui-card-body">
            <div class="layui-collapse" lay-filter="component-panel">
                {% for element in core_elements %}
                <div class="layui-colla-item">
                    <input type="checkbox" name="coreElement" value="[[element.ID]]*[[element.SAMPLE_ID]]" style="float:left;margin-top: 15px;margin-left: 10px">
                    <h2 class="layui-colla-title" style="background-color: #fff;">[[element.NAME]]</h2>
                    <div class="layui-colla-content">
                        <p>Def</p>
                        <p>&nbsp<b>•</b> [[element.DEF]]</p>
                        <p>Lemma</p>
                        <p>&nbsp<b>•</b> [[element.LEMMA]]</p>
                        <p>Examples</p>
                        <p>&nbsp<b>•</b> [[element.SAMPLE]]</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</fieldset>

<fieldset class="layui-elem-field" style="background-color: #fff;">
    <legend>Non-core Frame Elements</legend>
    <div class="layui-field-box">
        <div class="layui-card-header">
            <button class="layui-btn"  layadmin-event="frameElementAdd" data-type="Non-core Frame Elements">新增</button>
            <button class="layui-btn"  layadmin-event="frameElementEdit">修改</button>
            <button class="layui-btn"  layadmin-event="frameElementDelete">删除</button>
        </div>
        <div class="layui-card-body">
            <div class="layui-collapse" lay-filter="component-panel">
                {% for element in non_core_elements %}
                <div class="layui-colla-item">
                    <input type="checkbox" name="coreElement" value="[[element.ID]]*[[element.SAMPLE_ID]]" style="float:left;margin-top: 15px;margin-left: 10px">
                    <h2 class="layui-colla-title" style="background-color: #fff;">[[element.NAME]]</h2>
                    <div class="layui-colla-content">
                        <p>Def</p>
                        <p>&nbsp<b>•</b> [[element.DEF]]</p>
                        <p>Lemma</p>
                        <p>&nbsp<b>•</b> [[element.LEMMA]]</p>
                        <p>Examples</p>
                        <p>&nbsp<b>•</b> [[element.SAMPLE]]</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</fieldset>

<fieldset class="layui-elem-field" style="background-color: #fff;">
    <legend>Construction Marker</legend>
    <div class="layui-field-box">
        <div class="layui-card-header">
            <button class="layui-btn"  layadmin-event="frameElementAdd" data-type="Construction Marker">新增</button>
            <button class="layui-btn"  layadmin-event="frameElementEdit">修改</button>
            <button class="layui-btn"  layadmin-event="frameElementDelete">删除</button>
        </div>
        <div class="layui-card-body">
            <div class="layui-collapse" lay-filter="component-panel">
                {% for element in marker %}
                <div class="layui-colla-item">
                    <input type="checkbox" name="coreElement" value="[[element.ID]]*[[element.SAMPLE_ID]]" style="float:left;margin-top: 15px;margin-left: 10px">
                    <h2 class="layui-colla-title" style="background-color: #fff;">[[element.NAME]]</h2>
                    <div class="layui-colla-content">
                        <p>Def</p>
                        <p>&nbsp<b>•</b> [[element.DEF]]</p>
                        <p>Lemma</p>
                        <p>&nbsp<b>•</b> [[element.LEMMA]]</p>
                        <p>Examples</p>
                        <p>&nbsp<b>•</b> [[element.SAMPLE]]</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</fieldset>
{% endblock %}
{% block js %}
<script>
    layui.config({
        base: '../static/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'frameAbout'], function () {
        var $ = layui.$
            , form = layui.form
            , admin = layui.admin;

        admin.req({
            method: "get",
            url: 'api/data/get!get_all_frame_for_select',
            done: function (res) {
                if (res.code == 0) {
                    for (i = 0; i < res.data.length; i++) {
                        $('.parentFrameSelect').append(new Option(res.data[i].NAME, res.data[i].ID));// 下拉菜单里添加元素
                    }
                    layui.form.render("select");//重新渲染 固定写法
                } else {
                    layer.msg(res.msg, {icon: 5});
                }
            }
        });

        form.on('submit(update-basic-info)', function (obj) {
            if (obj.field.PARENT_ID === obj.field.ID) {
                layer.msg('不能将自己设置为父级', {icon: 5})
            } else {
                //提交修改
                admin.req({
                    method: "post",
                    url: 'api/data/update!frame_basic_info',
                    data: JSON.stringify(obj.field),
                    done: function (res) {
                        layer.msg(res.msg + '，左侧数据更新有所延迟，需要刷新，不过不影响点击后加载最新数据');
                    }
                });
            }
        });

        parent.layer.closeAll();
    })
</script>
{% endblock %}