{% extends "base/../basic.html" %}
{% block title %}{% endblock %}
{% block css %}{% endblock %}
{% block content %}

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">设置我的资料</div>
                <div class="layui-card-body" pad15>
                    <div class="layui-form" lay-filter="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">邮箱账号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="EMAIL" value="[[current_user.EMAIL]]" readonly
                                       class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">不可修改</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="NAME" value="[[current_user.NAME]]" lay-verify="nickname"
                                       autocomplete="off"
                                       placeholder="请输入昵称" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">性别</label>
                            <div class="layui-input-block">
                                <input type="radio" name="SEX" value="0" title="未知" [[ 'checked' if current_user.SEX is equalto '0' else '' ]]>
                                <input type="radio" name="SEX" value="1" title="男" [[ 'checked' if current_user.SEX is equalto '1' else '' ]]>
                                <input type="radio" name="SEX" value="2" title="女" [[ 'checked' if current_user.SEX is equalto '2' else '' ]]>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">年龄</label>
                            <div class="layui-input-inline">
                                <input type="text" name="AGE" value="[[current_user.AGE]]" lay-verify="age" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">手机</label>
                            <div class="layui-input-inline">
                                <input type="text" name="PHONE" value="[[current_user.PHONE]]" lay-verify="phone"
                                       autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">微信号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="WE_CHAT" value="[[current_user.WE_CHAT]]" lay-verify="weChat"
                                       autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">QQ号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="QQ" value="[[current_user.QQ]]" lay-verify="qq"
                                       autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">备注</label>
                            <div class="layui-input-block">
                                <textarea name="DESCRIPTION" placeholder="请输入内容" value="[[current_user.DESCRIPTION]]"
                                          class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="setmyinfo">确认修改</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    layui.config({
        base: '../static/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'user', 'form'], function () {
        parent.layer.closeAll();
    });
</script>
{% endblock %}