{% extends "base/basic.html" %}
{% block title %}{% endblock %}
{% block css %}
<style>
    .label-required-next:after {
        top: 6px;
        right: 5px;
        color: red;
        content: '*';
        position: absolute;
        margin-left: 4px;
        font-weight: 700;
        line-height: 1.8em;
    }
</style>
{% endblock %}
{% block content %}

<div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin"
     style="padding: 20px 20px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">允许登录</label>
        <div class="layui-input-inline">
            <input type="checkbox" name="IF_LOGIN" lay-skin="switch" lay-text="是|否" value="1">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">权限角色</label>
        <div class="layui-input-inline">
            <select name="ROLE_ID" lay-verify="required" class="role_select">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline">
            <input type="text" name="NAME" lay-verify="nickname" placeholder="请输入用户名" autocomplete="off"
                   value="未署名" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机号码</label>
        <div class="layui-input-inline">
            <input type="text" name="PHONE" placeholder="请输入号码" autocomplete="off"
                   value="00000000000" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label label-required-next">邮箱</label>
        <div class="layui-input-inline">
            <input type="text" name="EMAIL" lay-verify="email" placeholder="请输入邮箱" autocomplete="off"
                   value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" lay-filter="sex">
        <label class="layui-form-label">选择性别</label>
        <div class="layui-input-block">
            <input type="radio" name="SEX" value="0" title="未知" checked>
            <input type="radio" name="SEX" value="1" title="男">
            <input type="radio" name="SEX" value="2" title="女">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">微信号</label>
        <div class="layui-input-inline">
            <input type="text" name="WE_CHAT" lay-verify="weChat" placeholder="请输入微信号" autocomplete="off"
                   value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">QQ号</label>
        <div class="layui-input-inline">
            <input type="text" name="QQ" value="" lay-verify="qq" placeholder="请输入QQ号" autocomplete="off"
                   value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea name="DESCRIPTION" placeholder="请输入内容" value="" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="LAY-user-front-submit" id="LAY-user-front-submit" value="确认">
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    layui.config({
        base: '../static/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'user'], function () {
        var $ = layui.$
            , form = layui.form
            , admin = layui.admin;

        admin.req({
            method: "get",
            url: 'api/role/get!all_role_info',
            done: function (res) {
                if (res.code == 0) {
                    roles_list = res.data.roles
                    for (i = 0; i < roles_list.length; i++) {
                        $('.role_select').append(new Option(roles_list[i].NAME, roles_list[i].ID));// 下拉菜单里添加元素
                    }
                    layui.form.render("select");//重新渲染 固定写法
                } else {
                    layer.msg(res.msg, {icon: 5});
                }
            }
        });
    })
</script>
{% endblock %}