{% extends "basic.html" %}
{% block title %}[[lang.company_name]]{% endblock %}
{% block css %}
    <link rel="stylesheet" href="[[url_for('static', filename='style/login.css')]]" type="text/css" media="all">
{% endblock %}
{% block content %}
    <main class="container" style="max-width: 1920px;margin-top: 54px;">
        <div class="row">
            <div class="col-xxl-4 col-xl-3 col-md-2 d-none d-md-block self-a-link">
                <ul style="margin-top: 20px;font-family: 'NotoSansCJK-Medium';">
                    <li style="font-size: 15px;font-family: 'NotoSansCJK-Bold';">
                        [[lang.common_account_up]]
                    </li>
                    <li style="margin-top: 10px;font-size: 13px;">
                        <a href="javascript:;"
                           style="[['text-decoration: underline;' if addition.categories=='accountDetail' else '']]">
                            [[lang.common_account_detail]]
                        </a>
                    </li>
                    <li style="font-size: 13px;">
                        <a href="/[[lang_type]]/historyOrders"
                           style="[['text-decoration: underline;' if addition.categories=='historyOrders' else '']]">
                            [[lang.common_historical_purchase]]
                        </a>
                    </li>
                    <li style="font-size: 13px;">
                        <a href="/[[lang_type]]/historySamples"
                           style="[['text-decoration: underline;' if addition.categories=='historySamples' else '']]">
                            [[lang.common_historical_sample]]
                        </a>
                    </li>
                    <li style="font-size: 13px;">
                        <a href="javascript:;"
                           style="[['text-decoration: underline;' if addition.categories=='reference' else '']]">
                            [[lang.common_logout]]
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xxl-4 col-xl-6 col-md-8" style="padding: 20px 80px">
                <div class="text-center mb-4">
                    <p class="mb-3 font-weight-normal" style="font-size: 17px;">[[lang.common_account_detail_up]]</p>
                </div>

                <div class="form-label-group" style="font-size: 13px;">
                    <p>[[lang.account_edit_details]]</p>
                    <p>[[lang.account_info]]</p>
                    <label>[[lang.account_last_name]]</label>
                    <input type="text" class="form-control">
                </div>

                <div class="form-label-group" style="margin-top: 10px;font-size: 13px;">
                    <label>[[lang.account_first_name]]</label>
                    <input type="text" class="form-control">
                </div>

                <div class="form-label-group" style="margin-top: 10px;font-size: 13px;">
                    <label>[[lang.account_company_name]]</label>
                    <input type="text" class="form-control">
                </div>

                <button class="btn btn-block"
                        style="background-color: #323232;color: #FFFFFF;width: 100%;margin-top: 30px;">
                    [[lang.account_change_info]]
                </button>

                <div class="form-label-group" style="font-size: 13px;margin-top: 50px;">
                    <p>[[lang.account_change_pwd_tips]]</p>
                    <label>[[lang.account_old_password]]</label>
                    <input type="text" class="form-control">
                </div>

                <div class="form-label-group" style="margin-top: 10px;font-size: 13px;">
                    <label>[[lang.account_new_password]]</label>
                    <input type="text" class="form-control">
                </div>

                <button class="btn btn-block"
                        style="background-color: #323232;color: #FFFFFF;width: 100%;margin-top: 30px;">
                    [[lang.account_change_password]]
                </button>
            </div>
            <div class="col-xxl-4 col-xl-3 col-md-2 d-none d-md-block"></div>
        </div>
    </main>
{% endblock %}
{% block js %}
    <script>
        layui.config({
            base: '../static/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'layer', 'publicCommon'], function () {
            var $ = layui.$,
                admin = layui.admin,
                layer = layui.layer;
        });
    </script>
{% endblock %}