{% extends "basic.html" %}
{% block title %}[[lang.company_name]]{% endblock %}
{% block css %}
    <link rel="stylesheet" href="[[url_for('static', filename='style/login.css')]]" type="text/css" media="all">
{% endblock %}
{% block content %}
    <main class="container" style="max-width: 1920px;margin-top: 60px;">
        <div class="row">
            <div class="col-lg-2 d-none d-lg-block self-a-link">
                <ul style="margin-top: 20px;font-family: 'NotoSansCJK-Medium';">
                    <li style="font-size: 15px;font-family: 'NotoSansCJK-Bold';" class="text-uppercase">
                        [[lang.common_account]]
                    </li>
                    <li style="margin-top: 10px;font-size: 13px;">
                        <a href="/[[lang_type]]/accountDetail"
                           style="[['text-decoration: underline;' if addition.categories=='accountDetail' else '']]">
                            [[lang.common_account_detail]]
                        </a>
                    </li>
                    <li style="font-size: 13px;">
                        <a href="javascript:;"
                           style="[['text-decoration: underline;' if addition.categories=='historyOrders' else '']]">
                            [[lang.common_historical_purchase]]
                        </a>
                    </li>
                    <li style="font-size: 13px;">
                        <a href="/[[lang_type]]/historySamples"
                           style="[['text-decoration: underline;' if addition.categories=='historySamples' else '']]">
                            [[lang.common_historical_sample]]
                        </a>
                    </li>
                    <li style="font-size: 13px;">
                        <a href="javascript:;"
                           style="[['text-decoration: underline;' if addition.categories=='reference' else '']]">
                            [[lang.common_logout]]
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8" style="padding: 20px 0px;">
                <div class="text-center mb-4">
                    <p class="mb-3 font-weight-normal" style="font-size: 17px;">[[lang.common_historical_purchase]]</p>
                </div>
                <p style="font-size: 13px;">[[lang.orders_check_preview_orders]]</p>

                <div class="row" style="color: #7C7C7F;font-size: 14px;">
                    <div class="col-3">[[lang.orders_orders]]</div>
                    <div class="col-2">[[lang.orders_date]]</div>
                    <div class="col-2">[[lang.orders_total_amount]]</div>
                    <div class="col-2">[[lang.orders_status]]</div>
                    <div class="col-3">[[lang.orders_tracking_number]]</div>
                    <hr class="layui-border-black" style="margin-top: 5px;">
                    <div class="col-3">#12345678901</div>
                    <div class="col-2">2021.12.31</div>
                    <div class="col-2">￥679</div>
                    <div class="col-2">运输中</div>
                    <div class="col-3">oiashd3456789</br>SF234738472983749283</div>
                </div>

            </div>
            <div class="col-lg-2 d-none d-lg-block"></div>
        </div>
    </main>
{% endblock %}
{% block js %}
    <script>
        layui.config({
            base: '../static/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'layer', 'publicCommon'], function () {
            var $ = layui.$,
                admin = layui.admin,
                layer = layui.layer;
        });
    </script>
{% endblock %}