{% extends "basic.html" %}
{% block title %}[[lang.company_name]]{% endblock %}
{% block css %}
    <link rel="stylesheet" href="[[url_for('static', filename='style/login.css')]]" type="text/css" media="all">
{% endblock %}
{% block content %}
    <main class="container" style="max-width: 1920px;margin-top: 54px;padding: 50px 30px">
        <div class="row">
            <div class="col-xl-2 col-lg-1 d-none d-lg-block"></div>
            <div class="col-xl-8 col-lg-10">
                <div class="row">
                    <p class="d-lg-none text-uppercase" style="font-size: 15px;text-align: center">[[lang.header_nav_wishlist]]</p>
                    <span class="d-none d-lg-block text-uppercase" style="font-size: 15px;">[[lang.header_nav_wishlist]]</span>
                    <span style="font-size: 13px;margin-bottom: 40px;">[[lang.wishlist_title_info]]</span>
                    {% for good in data.goods %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                        <img src="[[good.GOOD.COVER]]" style="cursor: pointer" data-product-id="[[good.GOOD.ID]]" data-product-type="[[good.GOOD.TYPE | lower]]" class="single-product-img-btn" width="100%" height="400px"/>
                        <p style="font-size: 13px;margin-top: 10px;">[[good.GOOD.BRAND]]</br>[[good.GOOD.COLOR]] [[good.GOOD.CATEGORY]]</br>[[lang.products_size]]：[[good.SIZE]]</br>&nbsp;{% if good.GOOD.CLASS != 'DESIGN' %}[[good.GOOD.PRICE]]{% endif %}</p>
                        <div class="btn btn-block text-uppercase add-shopping-good-btn" data-good-id="[[good.GOOD.ID]]"
                              data-good-size="[[good.SIZE]]" data-good-num="[[good.NUM]]"
                                style="background-color: #323232;color: #FFFFFF;width: 100%;">
                            [[lang.wishlist_add_to_bag]]
                        </div>
                        <div style="text-align: center;margin-top: 20px;margin-bottom: 20px;">
                            <i data-wish-good-id="[[good.ID]]" class="bi bi-x-lg delete-wish-good-btn" style="color: #0C0C0C;cursor: pointer"></i>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                        <img src="[[good.GOOD.COVER]]" style="cursor: pointer" data-product-id="[[good.GOOD.ID]]" data-product-type="[[good.GOOD.TYPE | lower]]" class="single-product-img-btn" width="100%" height="400px"/>
                        <p style="font-size: 13px;margin-top: 10px;">[[good.GOOD.BRAND]]</br>[[good.GOOD.COLOR]] [[good.GOOD.CATEGORY]]</br>[[lang.products_size]]：[[good.SIZE]]</br>&nbsp;{% if good.GOOD.CLASS != 'DESIGN' %}[[good.GOOD.PRICE]]{% endif %}</p>
                        <div class="btn btn-block text-uppercase add-sample-good-btn" data-good-id="[[good.GOOD.ID]]"
                              data-good-size="[[good.SIZE]]" data-good-num="[[good.NUM]]"
                                style="background-color: #323232;color: #FFFFFF;width: 100%;">
                            [[lang.wishlist_add_to_sample]]
                        </div>
                        <div style="text-align: center;margin-top: 20px;margin-bottom: 20px;">
                            <i data-wish-good-id="[[good.ID]]" class="bi bi-x-lg delete-wish-good-btn" style="color: #0C0C0C;cursor: pointer"></i>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xl-2 col-lg-1 d-none d-lg-block"></div>
        </div>
    </main>
{% endblock %}
{% block js %}
    <script>
        layui.config({
            base: '../static/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'layer'], function () {
            var $ = layui.$,
                admin = layui.admin,
                layer = layui.layer;

            $('.single-product-img-btn').on('click', function () {
                window.location.href = '/[[lang_type]]-' + $(this).attr('data-product-type') + '/singleProduct?goodId=' + $(this).attr('data-product-id')
            });

            $('.delete-wish-good-btn').on('click', function () {
                var tmpLoad = layer.load(2)
                admin.req({
                    method: "post",
                    url: '/api/good/delete!delete_wish_good',
                    data: JSON.stringify({
                        "ID": $(this).attr('data-wish-good-id'),
                        "langType": '[[lang_type]]'
                    }),
                    done: function (res) {
                        layer.close(tmpLoad);
                        if (res.data.code == 0) {
                            layer.msg(res.msg, {icon: 1});
                            window.location.reload();
                        } else {
                            layer.msg(res.msg, {icon: 2});
                        }
                    }
                });
            });

            $('.add-shopping-good-btn').on('click', function () {
                var tmpLoad = layer.load(2)
                admin.req({
                    method: "post",
                    url: '/api/good/add!add_shopping_good',
                    data: JSON.stringify({
                        "GOOD_ID": $(this).attr('data-good-id'),
                        "SIZE": $(this).attr('data-good-size'),
                        "NUM": $(this).attr('data-good-num'),
                        "langType": '[[lang_type]]'
                    }),
                    done: function (res) {
                        layer.close(tmpLoad);
                        if (res.data.code == 0) {
                            layer.msg(res.msg, {icon: 1});
                        } else {
                            layer.msg(res.msg, {icon: 2});
                        }
                    }
                });
            });

            $('.add-sample-good-btn').on('click', function () {
                var tmpLoad = layer.load(2)
                admin.req({
                    method: "post",
                    url: '/api/good/add!add_sample_good',
                    data: JSON.stringify({
                        "GOOD_ID": $(this).attr('data-good-id'),
                        "SIZE": $(this).attr('data-good-size'),
                        "NUM": $(this).attr('data-good-num'),
                        "langType": '[[lang_type]]'
                    }),
                    done: function (res) {
                        layer.close(tmpLoad);
                        if (res.data.code == 0) {
                            layer.msg(res.msg, {icon: 1});
                        } else {
                            layer.msg(res.msg, {icon: 2});
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}