{% extends "base/basic.html" %}
{% block title %}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<div class="layui-tab layui-tab-brief">
    <div class="layui-form-item layui-hide">
        <input type="text" autocomplete="off" value="" id="frame-remain-id">
        <input type="text" autocomplete="off" value="" id="remain-type">
    </div>
    <ul class="layui-tab-title">
        <li class="layui-this">Element与Frame关联情况</li>
        <li>当前Element存在的定义</li>
    </ul>
    <div class="layui-tab-content" style="height: 100px;">
        <div class="layui-tab-item layui-show">
            <table class="layui-table">
                <colgroup>
                    <col>
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th><b>Frame</b></th>
                    <th><b>ElementDef</b></th>
                </tr>
                </thead>
                <tbody>
                {% for frame in relation %}
                <tr>
                    <td>[[frame.frame]]</td>
                    <td>[[frame.def]]</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="layui-tab-item">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-collapse" lay-filter="component-panel">
                        {% for element in elementList %}
                        <div class="layui-colla-item" id="element-[[element.ID]]">
                            <button class="layui-btn layui-btn-xs layui-btn-danger element-frame-details-delete"
                                    data-id="[[element.ID]]"
                                    style="float:left;margin-top: 10px;margin-left: 10px">删除
                            </button>
                            <h2 class="layui-colla-title">[[element.DEF]]</h2>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    layui.config({
        base: '../static/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'element'], function () {
        var $ = layui.$
            , form = layui.form
            , element = layui.element
            , admin = layui.admin;

        $('.element-frame-details-delete').on('click', function () {
            var elementId = $(this).data('id');
            admin.req({
                method: "post",
                url: 'api/data/delete!delete_element_by_id',
                data: JSON.stringify([{"ID": elementId}]),
                done: function (res) {
                    if (res.code == 0) {
                        layer.msg("添加成功，可继续添加或关闭，注意请勿重复添加");
                        $('#element-' + elementId).hide()
                    } else {
                        layer.msg(res.msg, {icon: 5});
                    }
                }
            });
        });
    })
</script>
{% endblock %}