{% extends "base/basic.html" %}
{% block title %}{% endblock %}
{% block css %}
<style>
    /* 防止下拉框的下拉列表被隐藏---必须设置--- */
    .layui-table-cell {
        overflow: visible !important;
    }

    /* 使得下拉框与单元格刚好合适 */
    td .layui-form-select {
        margin-top: -10px;
        margin-left: -15px;
        margin-right: -15px;
    }
</style>
{% endblock %}
{% block content %}

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <input type="text" name="NAME" placeholder="请输入名称" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-inline">
                    <select name="TYPE" lay-verify="required">
                        <option value="Core Frame Elements">Core Frame Elements</option>
                        <option value="Non-core Frame Elements">Non-core Frame Elements</option>
                        <option value="Construction Marker">Construction Marker</option>
                    </select>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-element" lay-submit
                            lay-filter="LAY-element-manage-front-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-element" data-type="batchdel">删除</button>
                    <button class="layui-btn layuiadmin-btn-element" data-type="add">添加</button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <table id="LAY-element-manage" lay-filter="LAY-element-manage"></table>
            <script type="text/html" id="elementToolbarDemo"></script>
            <script type="text/html" id="typeTpl">
                <select name="TYPE" lay-verify="required" lay-filter="elementTypeSelect">  <!-- lay-filter="watch"-->
                    {% raw %}
                    <option value="Core Frame Elements" {{ d.TYPE==
                    'Core Frame Elements' ? 'selected' : '' }}>Core Frame Elements</option>
                    <option value="Non-core Frame Elements" {{ d.TYPE==
                    'Non-core Frame Elements' ? 'selected' : '' }}>Non-core Frame Elements</option>
                    <option value="Construction Marker" {{ d.TYPE==
                    'Construction Marker' ? 'selected' : '' }}>Construction Marker</option>
                    {% endraw %}
                </select>
            </script>
            <script type="text/html" id="table-element-opt">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="read">
                    <i class="layui-icon layui-icon-list"></i>查看</a>
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">
                    <i class="layui-icon layui-icon-edit"></i>修改</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                        class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    layui.config({
        base: '../static/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'elementAbout', 'element', 'table', 'form'], function () {
        var $ = layui.$
            , form = layui.form
            , table = layui.table
            , admin = layui.admin;

        form.on('select(elementTypeSelect)', function (data) {
            var elem = $(data.elem);
            var trElem = elem.parents('tr');
            var tableData = table.cache['LAY-element-manage'];
            // 更新到表格的缓存数据中，才能在获得选中行等等其他的方法中得到更新之后的值
            tableData[trElem.data('index')][elem.attr('name')] = data.value;
        });

        //监听搜索
        form.on('submit(LAY-element-manage-front-search)', function (data) {
            var field = data.field;
            //执行重载
            table.reload('LAY-element-manage', {
                url: 'api/data/get!element_type_filter_by_param',
                methods: "get",
                where: field
            });
        });

        //事件
        var active = {
            batchdel: function () {
                var checkStatus = table.checkStatus('LAY-element-manage')
                    , checkData = checkStatus.data; //得到选中的数据

                if (checkData.length === 0) {
                    return layer.msg('请选择数据');
                }
                layer.confirm('确认删除所选中数据？', {
                    icon: 3
                    , title: '敏感操作'
                }, function (index) {
                    admin.req({
                        method: "post",
                        url: 'api/data/delete!delete_element_type',
                        data: JSON.stringify(checkData),
                        done: function (res) {
                            if (res.code == 0) {
                                table.reload('LAY-element-manage');
                                layer.msg('已删除');
                            } else {
                                layer.msg(res.msg, {icon: 5});
                            }
                        }
                    });
                });
            }
            , add: function () {
                layer.open({
                    type: 2
                    , title: '添加Element'
                    , content: 'elementTypeManageForm'
                    , maxmin: true
                    , area: ['400px', '400px']
                    , btn: ['确定', '取消']
                    , yes: function (index, layero) {
                        var iframeWindow = window['layui-layer-iframe' + index]
                            , submitID = 'LAY-element-manage-front-submit'
                            , submit = layero.find('iframe').contents().find('#' + submitID);

                        //监听提交
                        iframeWindow.layui.form.on('submit(' + submitID + ')', function (data) {
                            var field = data.field; //获取提交的字段
                            admin.req({
                                method: "post",
                                url: 'api/data/add!add_element_type',
                                data: JSON.stringify(field),
                                done: function (res) {
                                    if (res.code == 0) {
                                        layer.msg(res.msg, {
                                            offset: '15px'
                                            , icon: 1
                                            , time: 1000
                                        }, function () {
                                            table.reload('LAY-element-manage'); //数据刷新
                                            layer.close(index); //关闭弹层
                                        });
                                    } else {
                                        layer.msg(res.msg, {icon: 5});
                                    }
                                }
                            });
                        });

                        submit.trigger('click');
                    }
                });
            }
        };

        $('.layui-btn.layuiadmin-btn-element').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        parent.layer.closeAll();
    });
</script>
{% endblock %}
