{% extends "basic.html" %}
{% block title %}[[lang.company_name]]{% endblock %}
{% block css %}
    <link rel="stylesheet" href="[[url_for('static', filename='style/login.css')]]" type="text/css" media="all">
{% endblock %}
{% block content %}
    <main class="container" style="max-width: 1920px;margin-top: 54px;">
        <div class="row">
            <div class="col-lg-3 d-none d-lg-block">
                <div class="layui-form" style="padding: 20px 20px 0 0;">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <label>[[lang.products_brand]]</label>
                            <input type="text" name="NAME" lay-verify="required" value="" class="layui-input"
                                   style="margin-top: 5px;border-color: #575759">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <label>[[lang.color_color]]</label>
                            <select name="ELEMENT_TYPE_ID" lay-verify="required" style="margin-top: 5px;">
                                <option selected>[[lang.products_choose_color]]</option>
                                <option>[[lang.color_brown]]</option>
                                <option>[[lang.color_blue]]</option>
                                <option>[[lang.color_gray]]</option>
                                <option>[[lang.color_white]]</option>
                                <option>[[lang.color_pink]]</option>
                                <option>[[lang.color_purple]]</option>
                                <option>[[lang.color_red]]</option>
                                <option>[[lang.color_green]]</option>
                                <option>[[lang.color_yellow]]</option>
                                <option>[[lang.color_black]]</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <label>[[lang.products_style]]</label>
                            <input type="text" name="NAME" lay-verify="required" value="" class="layui-input"
                                   style="margin-top: 5px;border-color: #575759">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <label>[[lang.products_description]]</label>
                            <input type="text" name="NAME" lay-verify="required" value="" class="layui-input"
                                   style="margin-top: 5px;border-color: #575759">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <label>[[lang.products_supplier_color]]</label>
                            <input type="text" name="NAME" lay-verify="required" value="" class="layui-input"
                                   style="margin-top: 5px;border-color: #575759">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <label>[[lang.products_material]]</label>
                            <input type="text" name="NAME" lay-verify="required" value="" class="layui-input"
                                   style="margin-top: 5px;border-color: #575759">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <label>[[lang.products_place_of_origin]]</label>
                            <input type="text" name="NAME" lay-verify="required" value="" class="layui-input"
                                   style="margin-top: 5px;border-color: #575759">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <label>[[lang.products_product_number]]</label>
                            <input type="text" name="NAME" lay-verify="required" value="" class="layui-input"
                                   style="margin-top: 5px;border-color: #575759">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <label>[[lang.products_factory_code]]</label>
                            <input type="text" name="NAME" lay-verify="required" value="" class="layui-input"
                                   style="margin-top: 5px;border-color: #575759">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <label>[[lang.products_area]]</label>
                            <select name="ELEMENT_TYPE_ID" lay-verify="required" style="margin-top: 5px;"
                                    lay-filter="edit-product-area-select" id="edit-product-area-select-id">
                                <option value="" selected>[[lang.products_choose_area]]</option>
                                <option value="public">[[lang.common_public]]</option>
                                {% for area in data.areas %}
                                    <option id="[[area.ID]]">
                                        {% if lang_type == 'zh_cn' %}
                                            [[area.NAME]]
                                        {% else %}
                                            [[area.EN_NAME]]
                                        {% endif %}
                                    </option>
                                {% endfor %}
                                <option value="add">[[lang.common_add]]</option>
                            </select>
                            <label style="color: red;font-size: 13px;">[[lang.products_check_upload_area]]</label>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <label>[[lang.common_staff_email]]</label>
                            <input type="text" name="NAME" lay-verify="required" value="" class="layui-input"
                                   style="margin-top: 5px;border-color: #575759">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <img src="[[url_for('static', filename='img/background1.png')]]" width="100%" height="400px"/>
                </div>
            </div>
            <div class="col-lg-3 d-none d-lg-block">
                <div class="layui-form" style="padding: 20px 20px 0 0;">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <label>[[lang.products_currency]]</label>
                            <select name="ELEMENT_TYPE_ID" lay-verify="required" style="margin-top: 5px;">
                                <option selected>[[lang.products_choose_currency]]</option>
                                <option>[[lang.products_price_rmb]]</option>
                                <option>[[lang.products_price_jpn]]</option>
                                <option>[[lang.products_price_eur]]</option>
                                <option>[[lang.products_price_usd]]</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <label>[[lang.products_brand]]</label>
                            <div class="layui-inline" style="margin-top: 5px;">
                                <div class="layui-input-inline" style="width: 30%;">
                                    <input type="text" name="price_min" autocomplete="off" class="layui-input" style="border-color: #575759">
                                </div>
                                <div class="layui-form-mid">-</div>
                                <div class="layui-input-inline" style="width: 30%;">
                                    <input type="text" name="price_max" autocomplete="off"
                                           class="layui-input" style="border-color: #575759">
                                </div>
                                <div style="margin-top: 5px;">[[lang.products_qty]]</div>
                            </div>
                            <div class="layui-inline" style="width: 100%;">
                                <div class="layui-input-inline" style="width: 70%;margin-top: 5px;">
                                    <input type="text" class="form-control" style="border-color: #575759">
                                </div>
                                <div style="margin-top: 10px;">[[lang.products_price]]</div>
                            </div>
                            <div class="btn btn-block" style="width: 100%;border-color: #575759">
                                [[lang.products_add_range]]
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <label>[[lang.products_category]]</label>
                            <select name="ELEMENT_TYPE_ID" lay-verify="required" style="margin-top: 5px;"
                                lay-filter="edit-product-category-select" id="edit-product-category-select-id">
                                <option selected>[[lang.products_select_category]]</option>
                                {% for category in data.goodCategories %}
                                    <option id="[[category.ID]]">
                                        {% if lang_type == 'zh_cn' %}
                                            [[category.NAME]]
                                        {% else %}
                                            [[category.EN_NAME]]
                                        {% endif %}
                                    </option>
                                {% endfor %}
                                <option value="add">[[lang.common_add]]</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <label>[[lang.products_size]]</label>
                            <select name="city" xm-select="select1" xm-select-skin="default" lay-verify="required" style="margin-top: 5px;" xm-select-show-count="1">
                            <option selected>[[lang.products_choose_size]]</option>
                            <option value="2" selected="selected">上海</option>
                            <option value="3">广州</option>
                            <option value="4" selected="selected">深圳</option>
                            <option value="5">天津</option>
                          </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <label>[[lang.products_size_chart]]</label>
                            <div class="btn btn-block" style="width: 100%;border-color: #575759">
                                [[lang.common_import_from_computer]]
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <div class="btn btn-block" style="width: 100%;border-color: #575759">
                                [[lang.products_preview]]
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <div class="btn btn-block" style="background-color: #4A4A4A;color: #FFFFFF;width: 100%">
                                [[lang.products_publish_the_sample]]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block js %}
    <script>
        layui.config({
            base: '../static/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'layer', 'form', 'formSelects'], function () {
            var $ = layui.$,
                admin = layui.admin,
                form = layui.form,
                formSelects = layui.formSelects,
                layer = layui.layer;

            $('.layui-form-select').css("border", "1px solid #575759");


            form.on('select(edit-product-area-select)', function (data) {
                if (data.value == "add") {
                    layer.open({
                        type: 1,
                        offset: 'auto',
                        title: false,
                        id: 'navAreaSelect',
                        content: '<div style="padding: 10px 25px;font-size: 14px;text-align: center"><div class="row self-a-link"><ul class="nav">' +
                            '<li class="nav-item" style="margin-top: 8px;" id="basic_nav_search_close">' +
                            '<i class="bi bi-x-lg" style="color: #0C0C0C"></i></li></ul></div>' +
                            '<div class="row"><div class="layui-inline"><div class="layui-input-inline" style="width: 150px;">' +
                            '<input type="text" id="add-area-zh-name" placeholder="[[lang.common_zh_name]]" autocomplete="off" class="layui-input"></div>' +
                            '<div class="layui-input-inline" style="width: 150px;float: right">' +
                            '<input type="text" id="add-area-en-name" placeholder="[[lang.common_en_name]]" autocomplete="off" class="layui-input"></div>' +
                            '<button type="button" id="edit-products-area-add-btn" class="layui-btn layui-btn-primary" ' +
                            'style="margin-top: 20px;width: 100px;background-color: #4A4A4A;color: #FFFFFF;">[[lang.common_add]]</button></div>' +
                            '</div></div></div>',
                        shade: 0,
                        area: ['370px', '150px'],
                        resize: false,
                        closeBtn: false,
                        success: function (layero, index) {
                            $('#basic_nav_search_close').on('click', function () {
                                layer.closeAll();
                            });

                            $('#edit-products-area-add-btn').on('click', function () {
                                admin.req({
                                    method: "post",
                                    url: '/api/area/add!add_area',
                                    data: JSON.stringify({
                                        "NAME": $('#add-area-zh-name').val(),
                                        "EN_NAME": $('#add-area-en-name').val(),
                                        "langType": '[[lang_type]]'
                                    }),
                                    done: function (res) {
                                        layer.msg(res.msg);
                                        if (res.code == 0) {
                                            $('#edit-product-area-select-id').empty()
                                            $('#edit-product-area-select-id').append(new Option('[[lang.products_choose_area]]', ''));
                                            $('#edit-product-area-select-id').append(new Option('[[lang.common_public]]', 'public'));
                                            for (i = 0; i < res.data.areas.length; i++) {
                                                if ('[[lang_type]]' == 'zh_cn') {
                                                    $('#edit-product-area-select-id').append(new Option(res.data.areas[i].NAME, res.data.areas[i].ID));
                                                } else {
                                                    $('#edit-product-area-select-id').append(new Option(res.data.areas[i].EN_NAME, res.data.areas[i].ID));
                                                }
                                            }
                                            $('#edit-product-area-select-id').append(new Option('[[lang.common_add]]', 'add'));
                                            layui.form.render("select");
                                            $('.layui-form-select').css("border", "1px solid #575759");
                                            layer.closeAll();
                                        }
                                    }
                                });
                            });
                        }
                    });
                }
            });

            form.on('select(edit-product-category-select)', function (data) {
                if (data.value == "add") {
                    layer.open({
                        type: 1,
                        offset: 'auto',
                        title: false,
                        id: 'navCategorySelect',
                        content: '<div style="padding: 10px 25px;font-size: 14px;text-align: center"><div class="row self-a-link"><ul class="nav">' +
                            '<li class="nav-item" style="margin-top: 8px;" id="basic_nav_search_close">' +
                            '<i class="bi bi-x-lg" style="color: #0C0C0C"></i></li></ul></div>' +
                            '<div class="row"><div class="layui-inline"><div class="layui-input-inline" style="width: 150px;">' +
                            '<input type="text" id="add-category-zh-name" placeholder="[[lang.common_zh_name]]" autocomplete="off" class="layui-input"></div>' +
                            '<div class="layui-input-inline" style="width: 150px;float: right">' +
                            '<input type="text" id="add-category-en-name" placeholder="[[lang.common_en_name]]" autocomplete="off" class="layui-input"></div>' +
                            '<button type="button" id="edit-products-category-add-btn" class="layui-btn layui-btn-primary" ' +
                            'style="margin-top: 20px;width: 100px;background-color: #4A4A4A;color: #FFFFFF;">[[lang.common_add]]</button></div>' +
                            '</div></div></div>',
                        shade: 0,
                        area: ['370px', '150px'],
                        resize: false,
                        closeBtn: false,
                        success: function (layero, index) {
                            $('#basic_nav_search_close').on('click', function () {
                                layer.closeAll();
                            });

                            $('#edit-products-category-add-btn').on('click', function () {
                                admin.req({
                                    method: "post",
                                    url: '/api/good/add!add_good_category',
                                    data: JSON.stringify({
                                        "NAME": $('#add-category-zh-name').val(),
                                        "EN_NAME": $('#add-category-en-name').val(),
                                        "langType": '[[lang_type]]'
                                    }),
                                    done: function (res) {
                                        layer.msg(res.msg);
                                        if (res.code == 0) {
                                            $('#edit-product-category-select-id').empty()
                                            $('#edit-product-category-select-id').append(new Option('[[lang.products_select_category]]', ''));
                                            for (i = 0; i < res.data.goodCategories.length; i++) {
                                                if ('[[lang_type]]' == 'zh_cn') {
                                                    $('#edit-product-category-select-id').append(new Option(res.data.goodCategories[i].NAME, res.data.goodCategories[i].ID));
                                                } else {
                                                    $('#edit-product-category-select-id').append(new Option(res.data.goodCategories[i].EN_NAME, res.data.goodCategories[i].ID));
                                                }
                                            }
                                            $('#edit-product-category-select-id').append(new Option('[[lang.common_add]]', 'add'));
                                            layui.form.render("select");
                                            $('.layui-form-select').css("border", "1px solid #575759");
                                            layer.closeAll();
                                        }
                                    }
                                });
                            });
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}