{% extends "basic.html" %}
{% block title %}[[lang.company_name]]{% endblock %}
{% block css %}
    <link rel="stylesheet" href="[[url_for('static', filename='style/login.css')]]" type="text/css" media="all">
{% endblock %}
{% block content %}
    <main class="container" style="max-width: 1920px;margin-top: 54px;">
        <div class="row">
            <div class="col-lg-3 d-none d-lg-block">
                <div class="form-label-group">
                    <form class="ml-lg-20">
                        <div class="form-group" style="width: 300px;">
                            <label>[[lang.products_brand]]</label>
                            <input type="text" class="form-control" id="edit_products_brand" style="margin-top: 5px;">
                        </div>
                        <div class="form-group" style="margin-top: 15px;">
                            <label>[[lang.color_color]]</label>
                            <select class="form-control" id="edit_products_color" style="margin-top: 5px;">
                                <option selected>[[lang.products_choose_color]]</option>
                                <option>[[lang.color_brown]]</option>
                                <option>[[lang.color_blue]]</option>
                                <option>[[lang.color_gray]]</option>
                                <option>[[lang.color_white]]</option>
                                <option>[[lang.color_pink]]</option>
                                <option>[[lang.color_purple]]</option>
                                <option>[[lang.color_red]]</option>
                                <option>[[lang.color_green]]</option>
                                <option>[[lang.color_yellow]]</option>
                                <option>[[lang.color_black]]</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin-top: 15px;">
                            <label>[[lang.products_style]]</label>
                            <input type="text" class="form-control" id="edit_products_style" style="margin-top: 5px;">
                        </div>
                        <div class="form-group" style="margin-top: 15px;">
                            <label>[[lang.products_description]]</label>
                            <input type="text" class="form-control" id="edit_products_description"
                                   style="margin-top: 5px;">
                        </div>
                        <div class="form-group" style="margin-top: 15px;">
                            <label>[[lang.products_supplier_color]]</label>
                            <input type="text" class="form-control" id="edit_products_supplier_color"
                                   style="margin-top: 5px;">
                        </div>
                        <div class="form-group" style="margin-top: 15px;">
                            <label>[[lang.products_material]]</label>
                            <input type="text" class="form-control" id="edit_products_material"
                                   style="margin-top: 5px;">
                        </div>
                        <div class="form-group" style="margin-top: 15px;">
                            <label>[[lang.products_place_of_origin]]</label>
                            <input type="text" class="form-control" id="edit_products_place_origin"
                                   style="margin-top: 5px;">
                        </div>
                        <div class="form-group" style="margin-top: 15px;">
                            <label>[[lang.products_product_number]]</label>
                            <input type="text" class="form-control" id="edit_products_product_num"
                                   style="margin-top: 5px;">
                        </div>
                        <div class="form-group" style="margin-top: 15px;">
                            <label>[[lang.products_factory_code]]</label>
                            <input type="text" class="form-control" id="edit_products_factory_code"
                                   style="margin-top: 5px;">
                        </div>
                        <div class="form-group" style="margin-top: 15px;">
                            <label>[[lang.products_area]]</label>
                            <input type="text" class="form-control" id="edit_products_area" style="margin-top: 5px;">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <img src="[[url_for('static', filename='img/background1.png')]]" width="100%" height="400px"/>
                </div>
            </div>
            <div class="col-lg-3 d-none d-lg-block self-a-link">
                <div class="form-label-group">
                    <form style="padding: 40px 20px;">
                        <div class="form-group">
                            <label>[[lang.products_currency]]</label>
                            <select class="form-control" id="edit_products_color" style="margin-top: 5px;">
                                <option selected>[[lang.products_choose_currency]]</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin-top: 15px;">
                            <label>[[lang.products_price_range]]</label>
                            <div>
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <div class="layui-input-inline" style="width: 37%;">
                                            <input type="text" name="price_min" autocomplete="off" class="layui-input">
                                        </div>
                                        <div class="layui-form-mid">-</div>
                                        <div class="layui-input-inline" style="width: 37%;">
                                            <input type="text" name="price_max" autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                        <div style="margin-top: 5px;">[[lang.products_qty]]</div>
                                    </div>
                                    <div class="layui-inline" style="width: 100%;">
                                        <div class="layui-input-inline" style="width: 80%;margin-top: 5px;">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div style="margin-top: 10px;">[[lang.products_price]]</div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn btn-block" style="width: 100%;border-color: #DDE1E5">
                                [[lang.products_add_range]]
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 15px;">
                            <label>[[lang.products_category]]</label>
                            <select class="form-control" style="margin-top: 5px;">
                                <option selected>[[lang.products_select_category]]</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin-top: 15px;">
                            <label>[[lang.products_size]]</label>
                            <select class="form-control" style="margin-top: 5px;">
                                <option selected>[[lang.products_choose_size]]</option>
                                <option>...</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin-top: 15px;">
                            <label>[[lang.products_size_chart]]</label>
                            <div class="btn btn-block" style="width: 100%;border-color: #DDE1E5">
                                [[lang.common_import_from_computer]]
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 15px;">
                            <div class="btn btn-block" style="width: 100%;border-color: #DDE1E5">
                                [[lang.products_preview]]
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 15px;">
                            <div class="btn btn-block" style="background-color: #4A4A4A;color: #FFFFFF;width: 100%">
                                [[lang.products_publish_the_sample]]
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block js %}
    <script>
        layui.config({
            base: '../static/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'layer'], function () {
            var $ = layui.$,
                admin = layui.admin,
                layer = layui.layer;

        });
    </script>
{% endblock %}