{% extends "basic.html" %}
{% block title %}[[lang.company_name]]{% endblock %}
{% block css %}
    <link rel="stylesheet" href="[[url_for('static', filename='style/login.css')]]" type="text/css" media="all">
{% endblock %}
{% block content %}
    <div class="layui-fluid">
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md3">
                <p style="margin-top: 20px;font-size: 14px;">[[lang.common_about_us_up]]</p>
                <p style="margin-top: 15px;font-size: 14px;">[[lang.about_us_first]]</p>
                <p style="margin-top: 15px;font-size: 14px;">[[lang.about_us_second]]</p>
                <p style="margin-top: 15px;font-size: 14px;">[[lang.about_us_third]]</p>
                <p style="margin-top: 15px;font-size: 14px;">[[lang.about_us_forth]]</p>
                <p style="margin-top: 15px;font-size: 14px;">[[lang.about_us_fifth]]</p>
            </div>
            <div class="layui-col-md6">
                <img src="[[url_for('static', filename='img/background.png')]]" width="100%" />
            </div>
            <div class="layui-col-md3"></div>
        </div>

    </div>
{% endblock %}
{% block js %}
    <script>
        layui.config({
            base: '../static/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'layer', 'publicCommon'], function () {
            var $ = layui.$,
                admin = layui.admin,
                layer = layui.layer;
        });
    </script>
{% endblock %}