{% extends "basic.html" %}
{% block title %}[[lang.company_name]]{% endblock %}
{% block css %}
    <link rel="stylesheet" href="[[url_for('static', filename='style/login.css')]]" type="text/css" media="all">
{% endblock %}
{% block content %}
    <main class="container" style="max-width: 1920px;margin-top: 60px;">
        <div class="row">
            <div class="col-12 col-md-6 col-xl-3" style="padding: 0 20px 0 20px">
                <p class="text-uppercase d-none d-lg-block" style="margin-top: 20px;font-size: 14px;">[[lang.common_about_us]]</p>
                <p class="text-uppercase d-lg-none" style="margin-top: 20px;font-size: 14px;text-align: center">[[lang.common_about_us]]</p>
                <p style="margin-top: 15px;font-size: 14px;">[[lang.about_us_first]]</p>
                <p style="margin-top: 15px;font-size: 14px;">[[lang.about_us_second]]</p>
                <p style="margin-top: 15px;font-size: 14px;">[[lang.about_us_third]]</p>
                <p style="margin-top: 15px;font-size: 14px;">[[lang.about_us_forth]]</p>
                <p style="margin-top: 15px;font-size: 14px;">[[lang.about_us_fifth]]</p>
                {% if addition.login and current_user.ROLE =='SUPER' %}
                <div class="btn btn-block text-uppercase" id="edit-product-publish-img" style="background-color: #323232;color: #FFFFFF;width: 100%">
                    [[lang.common_submit]]
                </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-6 col-xl-6" style="padding: 0 20px 0 20px">
                <div id="edit-product-add-img-list">
                    {% for img in imgs %}
                        <div class="row" style="position:relative;margin-top: 10px;">
                            <img class="edit-product-add-img-img" src="[[img]]" style="width: 100%;cursor: pointer;object-fit: contain">
                            {% if addition.login and current_user.ROLE =='SUPER' %}
                            <span class="btn btn-block text-uppercase edit-product-add-img-delete" style="background-color: #323232;color: #FFFFFF;position: absolute;bottom: 50px;right: 30px;width: 80px;font-size: 7px;">[[lang.common_delete]]</span>
                            <span class="btn btn-block text-uppercase edit-product-add-img-replace" style="background-color: #323232;color: #FFFFFF;position: absolute;bottom: 10px;right: 30px;width: 80px;font-size: 7px;">[[lang.common_replace]]</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                {% if addition.login and current_user.ROLE =='SUPER' %}
                <div class="row" style="margin-top: 30px;">
                    <img src="[[url_for('static', filename='img/plusLine.png')]]"
                         style="width: 100%;border-color: #0C0C0C;cursor: pointer;object-fit: contain"
                         id="edit-product-add-img" class="rounded mx-auto d-block">
                </div>
                {% endif %}
            </div>
            <div class="col-12 col-md-12 col-xl-3"></div>
        </div>
    </main>
{% endblock %}
{% block js %}
    <script>
        layui.config({
            base: '../static/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'layer', 'publicCommon', 'upload'], function () {
            var $ = layui.$,
                admin = layui.admin,
                upload = layui.upload,
                layer = layui.layer;


            $('.edit-product-add-img-delete').on('click', function () {
                $(this).parent('.row').remove();
            });

            upload.render({
                url: '/api/common/upload!single_image_upload'
                , elem: '.edit-product-add-img-replace'
                , size: 20000
                , done: function (res) {
                    if (res.data.code == 0) {
                        layer.msg(res.msg, {icon: 1});
                        {#var imgNode = $(this).siblings('.edit-product-add-img-img')#}
                        this.item.siblings('.edit-product-add-img-img').attr('src', res.data.url)
                    } else {
                        layer.msg(res.msg, {icon: 2});
                    }
                }
            });

            var tmpLoad;
            upload.render({
                url: '/api/common/upload!single_image_upload'
                , elem: '#edit-product-add-img'
                , size: 20000
                , done: function (res) {
                    layer.close(tmpLoad)
                    if (res.data.code == 0) {
                        layer.msg(res.msg, {icon: 1});
                        var temp = '<div class="row" style="position:relative;margin-top: 10px;">' +
                            '<img class="edit-product-add-img-img" src="' + res.data.url + '" style="width: 100%;">' +
                            '<span class="btn btn-block text-uppercase edit-product-add-img-delete" style="background-color: #323232;color: #FFFFFF;position: absolute;bottom: 50px;right: 30px;width: 80px;font-size: 7px;">[[lang.common_delete]]</span>' +
                            '<span class="btn btn-block text-uppercase edit-product-add-img-replace" style="background-color: #323232;color: #FFFFFF;position: absolute;bottom: 10px;right: 30px;width: 80px;font-size: 7px;">[[lang.common_replace]]</span></div>'
                        $('#edit-product-add-img-list').html($('#edit-product-add-img-list').html() + temp)

                        $('.edit-product-add-img-delete').on('click', function () {
                            $(this).parent('.row').remove();
                        });


                        upload.render({
                            url: '/api/common/upload!single_image_upload'
                            , elem: '.edit-product-add-img-replace'
                            , size: 20000
                            , done: function (res) {
                                if (res.data.code == 0) {
                                    layer.msg(res.msg, {icon: 1});
                                    {#var imgNode = $(this).siblings('.edit-product-add-img-img')#}
                                    this.item.siblings('.edit-product-add-img-img').attr('src', res.data.url)
                                } else {
                                    layer.msg(res.msg, {icon: 2});
                                }
                            }
                        });
                    } else {
                        layer.msg(res.msg, {icon: 2});
                    }
                }, before: function (obj) {
                    tmpLoad = layer.load(2)
                }
            });

            $('#edit-product-publish-img').on('click', function () {
                var goodImg = new Array();
                $(".edit-product-add-img-img").each(function (i, e) {
                    goodImg[i] = $(this).attr('src')
                });

                if (goodImg.length == 0) {
                    layer.msg('[[lang.common_complete_info]]', {icon: 4, time: 5000});
                } else {
                    var tempLoad = layer.load(2)
                    admin.req({
                        method: "post",
                        url: '/api/system/update!update_info',
                        data: JSON.stringify({
                            "ABOUT_US": goodImg,
                            "langType": '[[lang_type]]'
                        }),
                        done: function (res) {
                            layer.close(tempLoad);
                            if (res.data.code == 0) {
                                layer.msg(res.msg, {icon: 1});
                            } else {
                                layer.msg(res.msg, {icon: 2});
                            }
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}