{% extends "base/basic.html" %}
{% block title %}[[message.SITE_NAME]]{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<div class="layui-fluid" style="padding: 0px;background-color: #F5E9F2">
    {% include 'public/head.html' %}
    <div class="layui-card" style="margin-top: 40px;width: 80%;margin-left: 10%;padding: 20px" id="LAY-show-contributors-page">
    </div>
    <div style="height: 15px"></div>
</div>
{% endblock %}
{% block js %}
<script>
    layui.config({
        base: '../static/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'user', 'publicCommon'], function () {
        var $ = layui.$,
            admin = layui.admin,
            form = layui.form,
            layer = layui.layer;
        layer.load(2)

        admin.req({
            method: "post",
            url: 'api/home_page/home_page!get_home_by_type',
            data: JSON.stringify({"type": "CONTRIBUTORS"}),
            done: function (res) {
                if (res.code == 0) {
                    $('#LAY-show-contributors-page').html(unescape(res.data.CONTENT))
                } else {
                    layer.msg(res.msg, {icon: 5});
                }

                layer.closeAll();
            }
        });
    });
</script>
{% endblock %}