{% extends "basic.html" %}
{% block title %}[[lang.company_name]]{% endblock %}
{% block css %}
    <link rel="stylesheet" href="[[url_for('static', filename='style/login.css')]]" type="text/css" media="all">
{% endblock %}
{% block content %}
    <main class="container" style="max-width: 1920px;margin-top: 54px;">
        <div class="row">
            <div class="col-12 col-md-6 col-xl-3" style="text-align: center">
                <p style="margin-top: 20px;font-size: 14px;">[[lang.common_contact_us_up]]</p>
                <p style="margin-top: 15px;font-size: 14px;">[[lang.contact_us_first]]</p>
                <p style="margin-top: 15px;font-size: 14px;">[[lang.contact_us_second]]</p>
                <p style="margin-top: 3px;font-size: 14px;">[[lang.contact_us_third]]</p>
                <p style="margin-top: 15px;font-size: 14px;">[[lang.contact_us_forth]]</p>
                <p style="margin-top: 3px;font-size: 14px;">[[lang.contact_us_fifth]]</p>
            </div>
            <div class="col-12 col-md-6 col-xl-6">
                <img src="[[url_for('static', filename='img/background.png')]]" width="100%" />
            </div>
            <div class="col-12 col-md-12 col-xl-3"></div>
        </div>
    </main>
{% endblock %}
{% block js %}
    <script>
        layui.config({
            base: '../static/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'layer', 'publicCommon'], function () {
            var $ = layui.$,
                admin = layui.admin,
                layer = layui.layer;
        });
    </script>
{% endblock %}