{% extends "basic.html" %}
{% block title %}[[lang.company_name]]{% endblock %}
{% block css %}
    <link rel="stylesheet" href="[[url_for('static', filename='style/login.css')]]" type="text/css" media="all">
{% endblock %}
{% block content %}
    <main class="container" style="max-width: 1920px;margin-top: 60px;">
        <div class="row">
            <div class="col-lg-2 d-none d-lg-block self-a-link">
                <ul style="margin-top: 20px;font-family: 'NotoSansCJK-Medium';">
                    <li style="font-size: 15px;font-family: 'NotoSansCJK-Bold';">
                        [[lang.common_all_categories]]
                    </li>
                    <li style="margin-top: 10px;font-size: 13px;">
                        <a href="/[[lang_type]]-[[addition.location]]/commonSample?products=[[addition.products]]&sort=[[addition.sort]]&colors=[[addition.colors]]"
                           style="[['text-decoration: underline;' if addition.categories=='sample' else '']]">
                            [[lang.common_sample]]
                        </a>
                    </li>
                    <li style="font-size: 13px;">
                        <a href="javascript:;"
                           style="[['text-decoration: underline;' if addition.categories=='design' else '']]">
                            [[lang.common_design_diagrams]]
                        </a>
                    </li>
                    <li style="font-size: 13px;">
                        <a href="/[[lang_type]]-[[addition.location]]/referenceDiagrams?products=[[addition.products]]&sort=[[addition.sort]]&colors=[[addition.colors]]"
                           style="[['text-decoration: underline;' if addition.categories=='reference' else '']]">
                            [[lang.common_reference_diagrams]]
                        </a>
                    </li>
                </ul>
                <ul style="margin-top: 30px;font-family: 'NotoSansCJK-Medium';">
                    <li style="font-size: 15px;font-family: 'NotoSansCJK-Bold';">
                        <a href="/[[lang_type]]-[[addition.location]]/[[route]]?products=&sort=[[addition.sort]]&colors=[[addition.colors]]"
                           style="[['text-decoration: underline;' if addition.products=='' else '']]">
                            [[lang.common_all_products]]
                        </a>
                    </li>
                    <li style="margin-top: 10px;font-size: 13px;">
                        <a href="/[[lang_type]]-[[addition.location]]/[[route]]?products=shoes&sort=[[addition.sort]]&colors=[[addition.colors]]"
                           style="[['text-decoration: underline;' if addition.products=='shoes' else '']]">
                            [[lang.products_categories_shoes]]
                        </a>
                    </li>
                    <li style="font-size: 13px;">
                        <a href="/[[lang_type]]-[[addition.location]]/[[route]]?products=bags&sort=[[addition.sort]]&colors=[[addition.colors]]"
                           style="[['text-decoration: underline;' if addition.products=='bags' else '']]">
                            [[lang.products_categories_bags]]
                        </a>
                    </li>
                    <li style="font-size: 13px;">
                        <a href="/[[lang_type]]-[[addition.location]]/[[route]]?products=accessories&sort=[[addition.sort]]&colors=[[addition.colors]]"
                           style="[['text-decoration: underline;' if addition.products=='accessories' else '']]">
                            [[lang.products_categories_accessories]]
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                        <img src="[[url_for('static', filename='img/background1.png')]]" width="100%" height="400px"/>
                        <p style="font-size: 13px;margin-top: 10px;">JW ANDERSON</br>棕色外套</p>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                        <img src="[[url_for('static', filename='img/background1.png')]]" width="100%" height="400px"/>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                        <img src="[[url_for('static', filename='img/background1.png')]]" width="100%" height="400px"/>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                        <img src="[[url_for('static', filename='img/background1.png')]]" width="100%" height="400px"/>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-6">
                        <img src="[[url_for('static', filename='img/background1.png')]]" width="100%" height="400px"/>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-none d-lg-block self-a-link">
                <ul style="margin-top: 20px;font-family: 'NotoSansCJK-Medium';">
                    <li style="font-size: 15px;font-family: 'NotoSansCJK-Bold';">[[lang.common_sort]]</li>
                    <li style="margin-top: 10px;font-size: 13px;">
                        <a href="/[[lang_type]]-[[addition.location]]/[[route]]?products=[[addition.products]]&sort=&colors=[[addition.colors]]"
                           style="[['text-decoration: underline;' if addition.sort=='' else '']]">
                            [[lang.common_latest_arrivals]]
                        </a>
                    </li>
                    <li style="font-size: 13px;">
                        <a href="/[[lang_type]]-[[addition.location]]/[[route]]?products=[[addition.products]]&sort=trending&colors=[[addition.colors]]"
                           style="[['text-decoration: underline;' if addition.sort=='trending' else '']]">
                            [[lang.common_trending]]
                        </a>
                    </li>
                    <li style="font-size: 13px;">
                        <a href="/[[lang_type]]-[[addition.location]]/[[route]]?products=[[addition.products]]&sort=lowHigh&colors=[[addition.colors]]"
                           style="[['text-decoration: underline;' if addition.sort=='lowHigh' else '']]">
                            [[lang.common_price_low_high]]
                        </a>
                    </li>
                    <li style="font-size: 13px;">
                        <a href="/[[lang_type]]-[[addition.location]]/[[route]]?products=[[addition.products]]&sort=highLow&colors=[[addition.colors]]"
                           style="[['text-decoration: underline;' if addition.sort=='highLow' else '']]">
                            [[lang.common_price_high_low]]
                        </a>
                    </li>
                </ul>
                <ul style="margin-top: 30px;font-family: 'NotoSansCJK-Medium';">
                    <li style="font-size: 15px;font-family: 'NotoSansCJK-Bold';">
                        <a href="/[[lang_type]]-[[addition.location]]/[[route]]?products=[[addition.products]]&sort=[[addition.sort]]&colors="
                           style="[['text-decoration: underline;' if addition.colors=='' else '']]">
                            [[lang.color_all_colors]]
                        </a>
                    </li>
                    <li style="margin-top: 10px;font-size: 13px;">
                        <a href="/[[lang_type]]-[[addition.location]]/[[route]]?products=[[addition.products]]&sort=[[addition.sort]]&colors=brown"
                           style="[['text-decoration: underline;' if addition.colors=='brown' else '']]">
                            [[lang.color_brown]]
                        </a>
                    </li>
                    <li style="font-size: 13px;">
                        <a href="/[[lang_type]]-[[addition.location]]/[[route]]?products=[[addition.products]]&sort=[[addition.sort]]&colors=blue"
                           style="[['text-decoration: underline;' if addition.colors=='blue' else '']]">
                            [[lang.color_blue]]
                        </a>
                    </li>
                    <li style="font-size: 13px;">
                        <a href="/[[lang_type]]-[[addition.location]]/[[route]]?products=[[addition.products]]&sort=[[addition.sort]]&colors=gray"
                           style="[['text-decoration: underline;' if addition.colors=='gray' else '']]">
                            [[lang.color_gray]]
                        </a>
                    </li>
                    <li style="font-size: 13px;">
                        <a href="/[[lang_type]]-[[addition.location]]/[[route]]?products=[[addition.products]]&sort=[[addition.sort]]&colors=white"
                           style="[['text-decoration: underline;' if addition.colors=='white' else '']]">
                            [[lang.color_white]]
                        </a>
                    </li>
                    <li style="font-size: 13px;">
                        <a href="/[[lang_type]]-[[addition.location]]/[[route]]?products=[[addition.products]]&sort=[[addition.sort]]&colors=pink"
                           style="[['text-decoration: underline;' if addition.colors=='pink' else '']]">
                            [[lang.color_pink]]
                        </a>
                    </li>
                    <li style="font-size: 13px;">
                        <a href="/[[lang_type]]-[[addition.location]]/[[route]]?products=[[addition.products]]&sort=[[addition.sort]]&colors=purple"
                           style="[['text-decoration: underline;' if addition.colors=='purple' else '']]">
                            [[lang.color_purple]]
                        </a>
                    </li>
                    <li style="font-size: 13px;">
                        <a href="/[[lang_type]]-[[addition.location]]/[[route]]?products=[[addition.products]]&sort=[[addition.sort]]&colors=red"
                           style="[['text-decoration: underline;' if addition.colors=='red' else '']]">
                            [[lang.color_red]]
                        </a>
                    </li>
                    <li style="font-size: 13px;">
                        <a href="/[[lang_type]]-[[addition.location]]/[[route]]?products=[[addition.products]]&sort=[[addition.sort]]&colors=green"
                           style="[['text-decoration: underline;' if addition.colors=='green' else '']]">
                            [[lang.color_green]]
                        </a>
                    </li>
                    <li style="font-size: 13px;">
                        <a href="/[[lang_type]]-[[addition.location]]/[[route]]?products=[[addition.products]]&sort=[[addition.sort]]&colors=yellow"
                           style="[['text-decoration: underline;' if addition.colors=='yellow' else '']]">
                            [[lang.color_yellow]]
                        </a>
                    </li>
                    <li style="font-size: 13px;">
                        <a href="/[[lang_type]]-[[addition.location]]/[[route]]?products=[[addition.products]]&sort=[[addition.sort]]&colors=black"
                           style="[['text-decoration: underline;' if addition.colors=='black' else '']]">
                            [[lang.color_black]]
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" style="margin-top: 50px;text-align: center">
            <div id="pageBottomSelect"></div>
        </div>
    </main>
{% endblock %}
{% block js %}
    <script>
        layui.config({
            base: '../static/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'layer', 'laypage'], function () {
            var $ = layui.$,
                admin = layui.admin,
                laypage = layui.laypage,
                layer = layui.layer;

            laypage.render({
                elem: 'pageBottomSelect'
                , count: 500
                , prev: '[[lang.common_back_page]]'
                , next: '[[lang.common_next_page]]'
                , curr: [[addition.page]]
                , jump: function (obj, first) {
                    if (!first) {
                        window.location.href = "/[[lang_type]]-[[addition.location]]/[[route]]?products=[[addition.products]]&sort=[[addition.sort]]&colors=green&page=" + obj.curr
                    }
                }
            });
        });
    </script>
{% endblock %}