<div class="layui-row" style="height: 115px;background-color: #824976">
    <img src="[[url_for('static', filename='img/banner.png')]]" style="margin-left: 8%;height: 100%"/>
</div>
<div class="layui-row">
    <div class="layui-col-lg8">
        <ul class="layui-nav" lay-filter="" style="background-color: #824976;border-radius: 0px;padding: 0px;">
            <li class="layui-nav-item" style="margin-left: 10%"><a href="home">Mandarin VerbNet</a></li>
            <li class="layui-nav-item"><a href="home">Home</a></li>
            <li class="layui-nav-item">
                <button class="layui-btn layui-dropdown-toggle" id="dropdownFrame"
                        style="background-color: transparent;color: #D4D4D4;border: none;font-size: 14px">
                    Frames
                    <i class="layui-icon layui-icon-triangle-d layui-font-12" style="font-size: 14px"></i>
                </button>
            </li>
            <li class="layui-nav-item">
                <a href="tagsets">Tagsets</a>
                <dl class="layui-nav-child"> <!-- 二级菜单 -->
                    <dd><a href="tagsets?TYPE=Core Frame Elements">Core Frame Elements</a></dd>
                    <dd><a href="tagsets?TYPE=Non-core Frame Elements">Non-core Frame Elements</a></dd>
                    <dd><a href="tagsets?TYPE=Construction Marker">Construction Marker</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="verbs">Verbs</a></li>
            <li class="layui-nav-item"><a href="publications">Publications</a></li>
            <li class="layui-nav-item"><a href="contributors">Contributors</a></li>
        </ul>
    </div>
    <div class="layui-col-lg4" style="height: 60px;background-color: #824976;">
        <div class="layui-form">
            <div class="layui-form-item">
                <div class="layui-inline" style="margin-top: 10px;">
                    <div class="layui-input-block">
                        <input type="text" name="" placeholder="Input frame or Verb" autocomplete="off"
                               id="public-verb-search-input" style="background-color: #AC6B9E; border: none" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline" style="margin-top: 10px;">
                    <button class="layui-btn layuiadmin-btn-role" lay-submit style="background-color: #512D4A; border: 1px solid #000000"
                            id="public-verb-search-button">
<!--                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>-->
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>