{% extends "basic.html" %}
{% block title %}[[lang.company_name]]{% endblock %}
{% block css %}
    <link rel="stylesheet" href="[[url_for('static', filename='style/login.css')]]" type="text/css" media="all">
{% endblock %}
{% block content %}
    <main class="container" style="max-width: 1920px;margin-top: 60px;">
        <div class="row">
            <div class="col-lg-3 d-none d-lg-block">
                <p class="text-uppercase" style="margin-top: 300px;font-size: 14px;">[[goodInfo.BRAND]]</br>[[goodInfo.COLOR]] [[goodInfo.CATEGORY_ID]]</p>

                <p style="margin-top: 15px;font-size: 14px;">[[goodInfo.DESCRIPTION]]</p>
                <p style="margin-top: 15px;font-size: 14px;">[[lang.products_supplier_color]]：[[goodInfo.SUPPLIER_COLOR]]</p>
                <p style="margin-top: 15px;font-size: 14px;">[[lang.products_material]]：[[goodInfo.MATERIAL]]</br>[[lang.products_place_of_origin]]：[[goodInfo.PLACE_OF_ORIGIN]]</p>
                <p style="margin-top: 3px;font-size: 14px;">[[lang.products_product_number]]：[[goodInfo.PRODUCT_NUMBER]]</p>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <div class="row" style="margin-bottom: 30px;">
                    {% for img in goodInfo.IMG %}
                        <img src="[[img]]" style="margin-top: 10px;object-fit: contain" width="100%"/>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-3 d-none d-lg-block" style="text-align: center;">
                <div class="layui-form">
                    <div class="layui-form-item d-flex justify-content-center" style="margin-top: 200px;">
                        {% if goodInfo.CLASS == 'SAMPLE' %}
                            <div class="row" style="font-size: 14px;padding: 10px;">
                                <div class="col-3 text-capitalize">[[lang.products_qty_full]]</div>
                                {% for price in goodInfo.PRICES %}
                                    <div class="col-3">[[price.RANGE]]</div>
                                {% endfor %}
                                <hr class="layui-border-black" style="margin-top: 5px;">
                                <div class="col-3 text-capitalize" style="margin-top: -10px;">[[lang.products_price]]
                                </div>
                                {% for price in goodInfo.PRICES %}
                                    <div class="col-3" style="margin-top: -10px;">[[price.PRICE]]</div>
                                {% endfor %}
                            </div>
                        {% elif goodInfo.CLASS == 'REFERENCE' %}
                            <div class="row" style="float: left;width: 280px;">[[goodInfo.PRICE]]</div>
                        {% endif %}
                    </div>
                    {% if addition.login and (current_user.ROLE == 'AGENT' or current_user.ROLE == 'ADMIN' or current_user.ROLE == 'SUPER') %}
                        <div class="layui-form-item d-flex justify-content-center">
                            <div class="btn btn-block edit-single-product-btn"
                                 style="background-color: #323232;color: #FFFFFF;width: 280px">
                                [[lang.common_edit]]
                            </div>
                        </div>
                        <div style="font-family: NotoSansCJK-Medium;font-size: 13px;">
                            [[lang.common_published_date]][[goodInfo.CREATE_DATETIME]]
                        </div>
                    {% else %}
                        <div class="layui-form-item d-flex justify-content-center">
                            <select id="product-size" lay-verify="required" style="margin-top: 5px;">
                                <option value="">[[lang.products_choose_size]]</option>
                                {% for size in goodInfo.SIZE %}
                                    <option value="[[size]]">[[size]]</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if goodInfo.CLASS == 'SAMPLE' or goodInfo.CLASS == 'REFERENCE' %}
                            <div class="layui-form-item d-flex justify-content-center">
                                <input type="number" id="product-qty" lay-verify="required" value="" class="layui-input"
                                       placeholder="[[lang.products_qty_full]]"
                                       style="margin-top: 5px;border-color: #575759;width: 280px;">
                            </div>
                        {% endif %}
                        <div class="layui-form-item d-flex justify-content-center">
                            <div class="btn btn-block text-uppercase" id="add-to-shopping-btn"
                                 style="background-color: #323232;color: #FFFFFF;width: 280px">
                                [[lang.wishlist_add_to_bag]]
                            </div>
                        </div>
                        <div class="layui-form-item d-flex justify-content-center">
                            <div class="row" style="width:280px;">
                                <div class="col-6" style="text-align: left;font-size: 14px;padding: 0;">
                                <span class="text-capitalize"
                                      layadmin-event="frameImgPreview">[[lang.products_size_chart]]</span>
                                </div>
                                <div class="col-6" style="text-align: right;font-size: 14px;padding: 0;">
                                    <span style="cursor: pointer" id="add-to-wishlist-btn">[[lang.wishlist_add_to_wishlist_bag]]</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6 d-lg-none" style="padding: 0">
                <div class="row" style="padding: 20px;">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            {% for img in goodInfo.IMG %}
                                <button type="button" data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="[[loop.index-1]]"
                                        class="[['active' if loop.first else '']]"
                                        aria-current="[['true' if loop.first else 'false']]"></button>
                            {% endfor %}
                        </div>
                        <div class="carousel-inner">
                            {% for img in goodInfo.IMG %}
                                <div class="carousel-item [['active' if loop.first else '']]">
                                    <img src="[[img]]" style="object-fit: contain" class="d-block w-100">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-lg-none" style="padding: 0">
                <div class="row" style="font-size: 10px;">
                    <div class="col-5 text-capitalize" style="padding: 0 30px;">
                        <span class="text-uppercase" style="font-size: 10px;">[[goodInfo.BRAND]]</span></br>
                        <span class="text-capitalize" style="font-size: 10px;">[[goodInfo.COLOR]] [[goodInfo.CATEGORY_ID]]</span>
                    </div>
                    <div class="col-7 text-capitalize">
                        {% if goodInfo.CLASS == 'SAMPLE' %}
                        <div class="row">
                            <div class="col-3 text-capitalize">[[lang.products_qty_full]]</div>
                            {% for price in goodInfo.PRICES %}
                                <div class="col-3">[[price.RANGE]]</div>
                            {% endfor %}
                            <hr class="layui-border-black" style="margin-top: 5px;">
                            <div class="col-3 text-capitalize" style="margin-top: -15px;">[[lang.products_price]]</div>
                            {% for price in goodInfo.PRICES %}
                                <div class="col-3" style="margin-top: -15px;">[[price.PRICE]]</div>
                            {% endfor %}
                        </div>
                        {% elif goodInfo.CLASS == 'REFERENCE' %}
                            <div class="row" style="float: left;width: 280px;">[[goodInfo.PRICE]]</div>
                        {% endif %}
                    </div>
                </div>
                <div class="layui-form">
                    <div class="layui-form-item" style="padding: 20px">
                        {% if addition.login and (current_user.ROLE == 'AGENT' or current_user.ROLE == 'ADMIN' or current_user.ROLE == 'SUPER') %}
                            <div class="input-group mb-3">
                                <div class="btn btn-block form-control text-capitalize edit-single-product-btn"
                                     style="background-color: #323232;color: #FFFFFF;">
                                    [[lang.common_edit]]
                                </div>
                            </div>
                            <div style="font-family: NotoSansCJK-Medium;font-size: 13px;">
                                [[lang.common_published_date]][[goodInfo.CREATE_DATETIME]]
                            </div>
                        {% else %}
                            <select id="product-size1" lay-verify="required">
                                <option value="">[[lang.products_choose_size]]</option>
                                {% for size in goodInfo.SIZE %}
                                    <option value="[[size]]">[[size]]</option>
                                {% endfor %}
                            </select>
                            <div class="input-group mb-3" style="margin-top: 10px;">
                                <input id="product-qty1" type="number" value="" class="form-control"
                                       placeholder="[[lang.products_qty_full]]"
                                       style="border-color: #575759;">
                                <span class="layui-form-mid" layadmin-event="frameImgPreview">&nbsp;&nbsp;<i
                                        class="bi bi-clipboard-plus"></i></span>
                            </div>
                            <div class="input-group mb-3" style="margin-top: 10px;">
                                <div class="btn btn-block text-uppercase form-control" id="add-to-shopping-btn1"
                                     style="background-color: #323232;color: #FFFFFF;">
                                    [[lang.wishlist_add_to_bag]]
                                </div>
                                <span id="add-to-wishlist-btn1" class="layui-form-mid">&nbsp;&nbsp;<i class="bi bi-heart"></i></span>
                            </div>
                        {% endif %}
                        <hr class="layui-border-black" style="margin-top: 10px;">
                        <p style="font-size: 10px;" class="text-uppercase">[[lang.products_product_info]]</p>
                        <p style="font-size: 10px;">[[goodInfo.DESCRIPTION]]</p>
                        <p style="margin-top: 15px;font-size: 10px;">
                            [[lang.products_supplier_color]]：[[goodInfo.SUPPLIER_COLOR]]</p>
                        <p style="margin-top: 15px;font-size: 10px;">
                            [[lang.products_material]]：[[goodInfo.MATERIAL]]</br>
                            [[lang.products_place_of_origin]]：[[goodInfo.PLACE_OF_ORIGIN]]</p>
                        <p style="margin-top: 3px;font-size: 10px;">
                            [[lang.products_product_number]]：[[goodInfo.PRODUCT_NUMBER]]</p>
                    </div>
                </div>
            </div>
        </div>
        {% if addition.login and (current_user.ROLE == 'AGENT' or current_user.ROLE == 'ADMIN' or current_user.ROLE == 'SUPER') %}
            <div class="row">
                <div class="col-lg-4 col-12">
                    <p>[[lang.products_customer_who_buy_it]]</p>
                    {% for ID, NAME in data.buy_list.items() %}
                        <span>[[NAME]]</span></br>
                    {% endfor %}
                </div>
                <div class="col-lg-4 col-12">
                    <p>[[lang.products_customer_who_add_shopping_bag]]</p>
                    {% for good in data.shopping_bag_list %}
                        <span>[[good.user.NAME]]</span></br>
                    {% endfor %}
                </div>
                <div class="col-lg-4 col-12">
                    <p>[[lang.products_customer_who_add_wishlist]]</p>
                    {% for good in data.wishlist %}
                        <span>[[good.user.NAME]]</span></br>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="row" style="padding: 0 20px 0 40px;">
                [[lang.common_you_may_like]]
            </div>
            {% if data.related_goods | length != 0 %}
            <div class="row flex-row flex-nowrap" style="overflow-x: scroll;padding: 0 20px 0 20px;margin-top: 30px">
                {% for related_good in data.related_goods %}
                    <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-5 col-6">
                        <div class="card card-block" style="border: 0">
                            <img style="cursor: pointer;object-fit: contain" src="[[related_good.COVER]]" data-product-id="[[related_good.ID]]"
                                 class="single-product-img-btn"/>
                            <p style="font-size: 13px;margin-top: 10px;">[[related_good.BRAND]]</br>
                                [[related_good.PRICE]]</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        {% endif %}
        <div class="row" style="height: 50px"></div>
    </main>
{% endblock %}
{% block js %}
    <script>
        layui.config({
            base: '../static/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'layer'], function () {
            var $ = layui.$,
                admin = layui.admin,
                layer = layui.layer;

            $('.layui-form-select').css("border", "1px solid #575759");

            admin.events.frameImgPreview = function (othis) {
                layer.photos({
                    photos: {
                        "title": "[[lang.products_size_chart]]" //相册标题
                        , "data": [{
                            "src": "[[goodInfo.SIZE_CHART]]" //原图地址
                        }]
                    }
                    , shade: 0.01
                    , closeBtn: 1
                    , anim: 5
                });
            };

            $('.single-product-img-btn').on('click', function () {
                layer.load(2)
                window.location.href = '/[[lang_type]][[addition.add]]/singleProduct?goodId=' + $(this).attr('data-product-id')
            });

            $('.edit-single-product-btn').on('click', function () {
                layer.load(2)
                window.location.href = '/[[lang_type]]-[[goodInfo.CLASS]]/editProducts?goodId=[[goodInfo.ID]]'
            });

            $('#add-to-wishlist-btn').on('click', function () {
                if ('[[addition.login]]' == 'False') {
                    layer.load(2)
                    window.location.href = "/[[lang_type]]/login"
                } else {
                    var sizeVal = $('#product-size').val()
                    var qtyVal = $('#product-qty').val()
                    if (sizeVal == "" || qtyVal == "") {
                        layer.msg('[[lang.common_complete_info]]', {icon: 4, time: 5000});
                    } else {
                        var tmpLoad = layer.load(2)
                        admin.req({
                            method: "post",
                            url: '/api/good/add!add_wish_good',
                            data: JSON.stringify({
                                "GOOD_ID": '[[goodInfo.ID]]',
                                "SIZE": sizeVal,
                                "NUM": typeof(qtyVal) == "undefined" ? 0 : qtyVal,
                                "langType": '[[lang_type]]'
                            }),
                            done: function (res) {
                                layer.msg(res.msg);
                                layer.close(tmpLoad);
                            }
                        });
                    }
                }
            });
            $('#add-to-wishlist-btn1').on('click', function () {
                if ('[[addition.login]]' == 'False') {
                    layer.load(2)
                    window.location.href = "/[[lang_type]]/login"
                } else {
                    var sizeVal = $('#product-size1').val()
                    var qtyVal = $('#product-qty1').val()
                    if (sizeVal == "" || qtyVal == "") {
                        layer.msg('[[lang.common_complete_info]]', {icon: 4, time: 5000});
                    } else {
                        admin.req({
                            method: "post",
                            url: '/api/good/add!add_wish_good',
                            data: JSON.stringify({
                                "GOOD_ID": '[[goodInfo.ID]]',
                                "SIZE": sizeVal,
                                "NUM": typeof(qtyVal) == "undefined" ? 0 : qtyVal,
                                "langType": '[[lang_type]]'
                            }),
                            done: function (res) {
                                layer.msg(res.msg);
                            }
                        });
                    }
                }
            });

            $('#add-to-shopping-btn').on('click', function () {
                if ('[[addition.login]]' == 'False') {
                    layer.load(2)
                    window.location.href = "/[[lang_type]]/login"
                } else {
                    var sizeVal = $('#product-size').val()
                    var qtyVal = $('#product-qty').val()
                    if (sizeVal == "" || qtyVal == "") {
                        layer.msg('[[lang.common_complete_info]]', {icon: 4, time: 5000});
                    } else {
                        var tmpLoad = layer.load(2)
                        admin.req({
                            method: "post",
                            url: '/api/good/add!add_shopping_good',
                            data: JSON.stringify({
                                "GOOD_ID": '[[goodInfo.ID]]',
                                "SIZE": sizeVal,
                                "NUM": typeof(qtyVal) == "undefined" ? 0 : qtyVal,
                                "langType": '[[lang_type]]'
                            }),
                            done: function (res) {
                                layer.close(tmpLoad);
                                if (res.data.code == 0) {
                                    layer.msg(res.msg, {icon: 1});
                                } else {
                                    layer.msg(res.msg, {icon: 2});
                                }
                            }
                        });
                    }
                }
            });
            $('#add-to-shopping-btn1').on('click', function () {
                if ('[[addition.login]]' == 'False') {
                    layer.load(2)
                    window.location.href = "/[[lang_type]]/login"
                } else {
                    var sizeVal = $('#product-size1').val()
                    var qtyVal = $('#product-qty1').val()
                    if (sizeVal == "" || qtyVal == "") {
                        layer.msg('[[lang.common_complete_info]]', {icon: 4, time: 5000});
                    } else {
                        var tmpLoad = layer.load(2)
                        admin.req({
                            method: "post",
                            url: '/api/good/add!add_shopping_good',
                            data: JSON.stringify({
                                "GOOD_ID": '[[goodInfo.ID]]',
                                "SIZE": sizeVal,
                                "NUM": typeof(qtyVal) == "undefined" ? 0 : qtyVal,
                                "langType": '[[lang_type]]'
                            }),
                            done: function (res) {
                                layer.close(tmpLoad);
                                if (res.data.code == 0) {
                                    layer.msg(res.msg, {icon: 1});
                                } else {
                                    layer.msg(res.msg, {icon: 2});
                                }
                            }
                        });
                    }
                }
            });
        });
    </script>
{% endblock %}