{% extends "base/basic.html" %}
{% block title %}{% endblock %}
{% block css %}{% endblock %}
{% block content %}

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <select name="LEVEL">
                        <option value="" selected>全部</option>
                        <option value="INFO">INFO</option>
                        <option value="DEBUG">DEBUG</option>
                        <option value="WARNING">WARNING</option>
                        <option value="ERROR">ERROR</option>
                    </select>
                </div>
                <div class="layui-inline">
                    <input type="text" name="USER_NAME" placeholder="请输入用户名称" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-inline">
                    <input type="text" name="DESCRIPTION" placeholder="请输入描述" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-data-log" lay-submit
                            lay-filter="LAY-data-log-front-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <table id="LAY-data-log-manage" lay-filter="LAY-data-log-manage"></table>
            <script type="text/html" id="dataLogToolbarDemo"></script>
            <script type="text/html" id="levelTpl">
                {% raw %}
                {{# if (d.LEVEL === 'INFO') { }}
                <div style="color: #01AAED">{{ d.LEVEL }}</div>
                {{# } else if (d.LEVEL === 'DEBUG') { }}
                <div style="color: #5FB878">{{ d.LEVEL }}</div>
                {{# } else if (d.LEVEL === 'WARNING') { }}
                <div style="color: #FFB800">{{ d.LEVEL }}</div>
                {{# } else if (d.LEVEL === 'ERROR') { }}
                <div style="color: #FF5722">{{ d.LEVEL }}</div>
                {{# } }}
                {% endraw %}
            </script>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    layui.config({
        base: '../static/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'logAbout', 'table', 'form'], function () {
        var $ = layui.$
            , form = layui.form
            , table = layui.table
            , admin = layui.admin;



        //监听搜索
        form.on('submit(LAY-data-log-front-search)', function (data) {
            var field = data.field;
            //执行重载
            table.reload('LAY-data-log-manage', {
                url: 'api/log/get!data_log_list_filter_by_param',
                methods: "get",
                where: field
            });
        });

        parent.layer.closeAll();
    });
</script>
{% endblock %}
