{% extends "base/basic.html" %}
{% block title %}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form-item layui-hide">
                <input type="text" autocomplete="off"
                           value="[[notice.ID]]" class="layui-input" id="notice-remain-id">
            </div>
            <div style="padding-bottom: 10px;">
                <button class="layui-btn" id="LAY-notice-content-edit-submit" data-type="content">更新Notice内容</button>
                <button type="button" class="layui-btn layui-btn-primary" id="LAY-notice-content-upload-image">
                    <i class="layui-icon"></i>上传图片
                </button>
            </div>
            <textarea id="LAY-edit-notice-content" style="display: none"></textarea>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    layui.config({
        base: '../static/' //静态资源所在路径
    }).extend({
        index: 'lib/index', //主入口模块
    }).use(['index', 'form', 'layer', 'tinymce', 'upload'], function () {
        var $ = layui.$,
            admin = layui.admin,
            form = layui.form,
            layer = layui.layer,
            edit_t = layui.tinymce,
            upload = layui.upload;

        edit_t.render({
            elem: "#LAY-edit-notice-content"
            , height: 800
            , menubar: false
            // ...
            // 其余配置可参考官方文档
        }, (opt, edit) => {
        });

        admin.req({
            method: "get",
            url: 'api/notice/get!get_notice_info_by_id?ID=' + $('#notice-remain-id').val(),
            done: function (res) {
                if (res.code == 0) {
                    $('#LAY-edit-notice-content').html(unescape(res.data.CONTENT))
                    $('#LAY-edit-notice-content').show()
                } else {
                    layer.msg(res.msg, {icon: 5});
                }
            }
        });

        $('#LAY-notice-content-edit-submit').on('click', function () {
            admin.req({
                method: "post",
                url: 'api/notice/update!notice_info',
                data: JSON.stringify({
                    "ID": $('#notice-remain-id').val(),
                    "CONTENT": escape(edit_t.get('#LAY-edit-notice-content').getContent())
                }),
                done: function (res) {
                    layer.msg(res.msg);
                }
            });
        });

        upload.render({
            url: '/api/common/upload!single_image_upload'
            , elem: '#LAY-notice-content-upload-image'
            , size: 200
            , done: function (res) {
                if (res.code == 0) {
                    layer.alert(res.data.url, {title: '请粘贴图片地址', icon: 1});
                } else {
                    layer.msg(res.msg, {icon: 5});
                }
            }
        });
    })
    ;
</script>
{% endblock %}
