{% extends "base/basic.html" %}
{% block title %}{% endblock %}
{% block css %}{% endblock %}
{% block content %}

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">网站设置</div>
                <div class="layui-card-body" pad15>

                    <div class="layui-form" wid100 lay-filter="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">网站名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="SITE_NAME" value="[[message.SITE_NAME]]" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">网站域名</label>
                            <div class="layui-input-block">
                                <input type="text" name="DOMAIN_NAME" lay-verify="url" value="[[message.DOMAIN_NAME]]"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">是否允许登录</label>
                            <div class="layui-input-inline">
                                <select name="ALLOW_LOGIN" lay-verify="required">  <!-- lay-filter="watch"-->
                                    <option value="1" [[
                                    'selected' if message.ALLOW_LOGIN else '' ]]>是</option>
                                    <option value="0" [[
                                    '' if message.ALLOW_LOGIN else 'selected' ]]>否</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">开启邮件系统</label>
                            <div class="layui-input-inline">
                                <select name="IF_EMAIL" lay-verify="required">  <!-- lay-filter="watch"-->
                                    <option value="1" [[
                                    'selected' if message.IF_EMAIL else '' ]]>是</option>
                                    <option value="0" [[
                                    '' if message.IF_EMAIL else 'selected' ]]>否</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">首页标题</label>
                            <div class="layui-input-block">
                                <textarea name="TITLE" class="layui-textarea">[[message.TITLE]]</textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">系统版本</label>
                            <div class="layui-input-block">
                                <input type="text" value="[[message.VERSION]]" readonly class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">版权信息</label>
                            <div class="layui-input-block">
                                <textarea name="COPY_RIGHT_INFO"
                                          class="layui-textarea">[[message.COPY_RIGHT_INFO]]</textarea>
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">网站备注</label>
                            <div class="layui-input-block">
                                <textarea name="DESCRIPTION" class="layui-textarea">[[message.DESCRIPTION]]</textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">上次修改时间</label>
                            <div class="layui-input-block">
                                <input type="text" value="[[message.UPDATE_DATETIME]]" readonly
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="set_website">确认保存</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    layui.config({
        base: '../static/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function () {
        var $ = layui.$
            , admin = layui.admin
            , form = layui.form;
        //网站设置
        form.on('submit(set_website)', function (obj) {
            //提交修改
            admin.req({
                method: "post",
                url: 'api/system/set!system_info',
                data: JSON.stringify(obj.field),
                done: function (res) {
                    layer.msg(res.msg);
                }
            });
        });

        parent.layer.closeAll();
    });
</script>
{% endblock %}