{% extends "base/basic.html" %}
{% block title %}{% endblock %}
{% block css %}{% endblock %}
{% block content %}

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">快捷方式</div>
                        <div class="layui-card-body">
                            <div class="layui-carousel layadmin-carousel layadmin-shortcut">
                                <div carousel-item>
                                    {% for i in range(0, message['links_count'], 8): %}
                                        <ul class="layui-row layui-col-space10">
                                            {% for link in message['links'][i:i+8] %}
                                                <li class="layui-col-xs3">
                                                    <a lay-href="[[link.URL]]">
                                                        <i class="layui-icon [[link.ICON_CLS]]"></i>
                                                        <cite>[[link.NAME]]</cite>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-card">
                        <div class="layui-card-header">通告手册</div>
                        <div class="layui-card-body">
                            <div class="layui-carousel layadmin-carousel layadmin-shortcut">
                                <div carousel-item>
                                    <table class="layui-table">
                                        <thead>
                                        <tr>
                                            <th width="500">标题</th>
                                            <th width="300">备注</th>
                                            <th width="300">时间</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for notice in notices %}
                                        <tr>
                                            <td><a href="showNotice?noticeId=[[notice.ID]]"  target="_self">[[notice.TITLE]]</a></td>
                                            <td>[[notice.DESCRIPTION]]</td>
                                            <td>[[notice.UPDATE_DATETIME]]</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">系统通知</div>
                <div class="layui-card-body layui-text">
                    <div class="layui-carousel layadmin-carousel layadmin-news" data-autoplay="true" data-anim="fade"
                         lay-filter="news">
                        <div carousel-item>
                            {% for notice in notices %}
                            <div><a href="showNotice?noticeId=[[notice.ID]]" target="_self" class="layui-bg-blue">[[notice.TITLE]]</a></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-card-header">实时监控</div>
                <div class="layui-card-body layadmin-takerates">
                    <div class="layui-progress" lay-showPercent="yes">
                        <h3>空闲内存</h3>
                        <div class="layui-progress-bar" lay-percent="[[all]]%"></div>
                    </div>
                    <div class="layui-progress" lay-showPercent="yes">
                        <h3>内存占用率</h3>
                        <div class="layui-progress-bar layui-bg-red" lay-percent="[[message['mem_percent']]]%"></div>
                    </div>
                    {% for index in range(message['cpu_count']): %}
                    <div class="layui-progress" lay-showPercent="yes">
                        <h3>cpu[[index]]使用情况</h3>
                        <div class="layui-progress-bar layui-bg-red" lay-percent="[[message['cpu'][index]]]%"></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
{% block js %}
<script>
    layui.config({
        base: '../static/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'console'], function () {
        parent.layer.closeAll();
    });
</script>
{% endblock %}

