<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="[[ url_for('static', filename='img/favicon.ico') ]]" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="[[url_for('static', filename='layui/css/layui.css')]]" type="text/css" media="all">
    <link rel="stylesheet" href="[[url_for('static', filename='style/admin.css')]]" type="text/css" media="all">
    {% block css %}{% endblock %}
    <style>
        @font-face {
            font-family: 'NotoSansCJK-Bold';
            src: url([[ url_for('static' , filename= 'font/NotoSansCJK-Bold.otf') ]]);
        }

        @font-face {
            font-family: 'NotoSansCJK-Medium';
            src: url([[ url_for('static' , filename= 'font/NotoSansCJK-Medium.otf') ]]);
        }

        .self-nav ul {
            list-style-type: none;
            line-height: 5em;

        }

        .self-nav ul li {
            display: inline;
            margin-left: 20px;
            font-size: 15px;
        }

        .self-nav a {
            text-decoration: none;
        }

        .self-nav a:hover {
            text-decoration: underline
        }
    </style>
</head>
<body style="font-family: NotoSansCJK-Bold;width: 1440px;margin:0 auto;">
<div class="layui-header self-nav">
    <ul>
        <li id="shop_basic_dropdown_men"
            style="margin-left: 0px;[['text-decoration: underline;' if addition.location=='men' else '']]">
            <a href="javascript:;">[[lang.header_nav_men]]</a>
        </li>
        <li id="shop_basic_dropdown_women"
            style="[['text-decoration: underline;' if addition.location=='women' else '']]">
            <a href="javascript:;">[[lang.header_nav_women]]</a>
        </li>
        <li id="shop_basic_dropdown_kids"
            style="[['text-decoration: underline;' if addition.location=='kids' else '']]">
            <a href="javascript:;">[[lang.header_nav_kids]]</a>
        </li>
        <li id="shop_basic_dropdown_others"
            style="[['text-decoration: underline;' if addition.location=='others' else '']]">
            <a href="javascript:;">[[lang.header_nav_everything_else]]</a>
        </li>
        <li><a href="javascript:;" id="shop_basic_nav_search" data-method="offset" data-type="lt">[[lang.header_nav_search]]</a>
        </li>
        <li style="[[lang.company_name_margin_left]]"><a href="/[[lang_type]]/index">[[lang.company_name]]</a></li>
    </ul>
    <ul class="layui-layout-right">
        <li id="shop_basic_dropdown_lang" style="margin-left: 0px;">
            <a href="javascript:;">[[lang.header_nav_lang]]</a>
        </li>
        <li id="shop_basic_dropdown_login"
            style="[['text-decoration: underline;' if addition.location=='login' else '']]">
            <a href="/[[lang_type]]/login">[[lang.common_login]]</a>
        </li>
        <li
            style="[['text-decoration: underline;' if addition.location=='wishlist' else '']]">
            <a href="#">[[lang.header_nav_wishlist]]</a>
        </li>
        <li
            style="[['text-decoration: underline;' if addition.location=='shoppingBag' else '']]">
            <a href="#">[[lang.header_nav_shopping_bag]]</a>
        </li>
        <li
            style="[['text-decoration: underline;' if addition.location=='sampleBag' else '']]">
            <a href="#">[[lang.header_nav_sample_bag]]</a>
        </li>
    </ul>
</div>
{% block content %}{% endblock %}
<script src="[[url_for('static', filename='layui/layui.js', external=True)]]"></script>

<div style="height: 100px;"></div>
<div class="layer-footer self-nav"
     style="position: fixed; bottom: 0;width: 1440px;height: 60px;line-height: 60px;text-align: center;background-color: #F2F2F2">
    <ul>
        <li style="margin-left: 0px;[['text-decoration: underline;' if addition.location=='aboutUs' else '']]">
            <a href="/[[lang_type]]/aboutUs" style="color: #0C0C0C;font-size: 12px;">[[lang.common_about_us]]</a>
        </li>
        <li style="[['text-decoration: underline;' if addition.location=='contactUs' else '']]">
            <a href="/[[lang_type]]/contactUs" style="color: #0C0C0C;font-size: 12px;">[[lang.common_contact_us]]</a>
        </li>
        <li style="color: #0C0C0C;font-size: 12px;">[[lang.common_copyright]]</li>
    </ul>
</div>

{% block js %}{% endblock %}
<script>
    layui.config({
        base: '../static/' //静态资源所在路径
    }).extend({
        {#index: 'lib/index' //主入口模块#}
    }).use(['jquery', 'index', 'dropdown'], function () {
        var $ = layui.$
            , dropdown = layui.dropdown;

        var fullAddition = "[[addition.add]]"

        //触发事件
        var active = {
            offset: function (othis) {
                var type = othis.data('type')
                    , text = othis.text();

                layer.open({
                    type: 1
                    , offset: type //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                    , id: 'layerDemo' + type //防止重复弹出
                    , content: '<div style="padding: 20px 100px;">' + text + '</div>'
                    , btn: '关闭全部'
                    , btnAlign: 'c' //按钮居中
                    , shade: 0 //不显示遮罩
                    , yes: function () {
                        layer.closeAll();
                    }
                });
            }
        };

        $('#shop_basic_nav_search').on('click', function () {
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });

        dropdown.render({
            elem: '#shop_basic_dropdown_lang' //可绑定在任意元素中，此处以上述按钮为例
            , data: [{
                title: '中'
                , href: '/zh_cn' + fullAddition + '/[[route]]'
            }, {
                title: 'EN'
                , href: '/en_us' + fullAddition + '/[[route]]'
            }]
            , trigger: "hover"
        });

        dropdown.render({
            elem: '#shop_basic_dropdown_login'
            , data: [{
                title: '[[lang.common_account_detail]]'
                , href: '/[[lang_type]]/accountDetail'
            }, {
                title: '[[lang.common_historical_purchase]]'
                , href: '/[[lang_type]]/historicalPurchase'
            }, {
                title: '[[lang.common_historical_sample]]'
                , href: '/[[lang_type]]/historicalSample'
            }, {
                title: '[[lang.common_logout]]'
                , href: '/[[lang_type]]/logout'
            }]
            , trigger: "hover"
        });

        dropdown.render({
            elem: '#shop_basic_dropdown_men'
            , data: [{
                title: '[[lang.common_sample]]'
                , href: '/[[lang_type]]-men/commonSample'
            }, {
                title: '[[lang.common_design_diagrams]]'
                , href: '/[[lang_type]]-men/designDiagrams'
            }, {
                title: '[[lang.common_reference_diagrams]]'
                , href: '/[[lang_type]]-men/referenceDiagrams'
            }]
            , trigger: "hover"
        });

        dropdown.render({
            elem: '#shop_basic_dropdown_women'
            , data: [{
                title: '[[lang.common_sample]]'
                , href: '/[[lang_type]]-women/commonSample'
            }, {
                title: '[[lang.common_design_diagrams]]'
                , href: '/[[lang_type]]-women/designDiagrams'
            }, {
                title: '[[lang.common_reference_diagrams]]'
                , href: '/[[lang_type]]-women/referenceDiagrams'
            }]
            , trigger: "hover"
        });

        dropdown.render({
            elem: '#shop_basic_dropdown_kids'
            , data: [{
                title: '[[lang.common_sample]]'
                , href: '/[[lang_type]]-kids/commonSample'
            }, {
                title: '[[lang.common_design_diagrams]]'
                , href: '/[[lang_type]]-kids/designDiagrams'
            }, {
                title: '[[lang.common_reference_diagrams]]'
                , href: '/[[lang_type]]-kids/referenceDiagrams'
            }]
            , trigger: "hover"
        });

        dropdown.render({
            elem: '#shop_basic_dropdown_others'
            , data: [{
                title: '[[lang.common_sample]]'
                , href: '/[[lang_type]]-others/commonSample'
            }, {
                title: '[[lang.common_design_diagrams]]'
                , href: '/[[lang_type]]-others/designDiagrams'
            }, {
                title: '[[lang.common_reference_diagrams]]'
                , href: '/[[lang_type]]-others/referenceDiagrams'
            }]
            , trigger: "hover"
        });
    });
</script>
</body>
</html>