{% extends "basic.html" %}
{% block title %}[[lang.company_name]]{% endblock %}
{% block css %}
    <link rel="stylesheet" href="[[url_for('static', filename='style/login.css')]]" type="text/css" media="all">
{% endblock %}
{% block content %}
    <div class="layui-fluid">
        <div class="layui-row layui-col-space20">
            <div class="layui-col-md6">
                <img src="[[url_for('static', filename='img/background.png')]]" width="100%" height="600px"/>
            </div>
            <div class="layui-col-md6">
                <img src="[[url_for('static', filename='img/background.png')]]" width="100%" height="600px"/>
            </div>
        </div>
        <div class="layui-row layui-col-space20">
            <div class="layui-col-md6">
                [[lang.header_nav_men]]
            </div>
            <div class="layui-col-md6">
                [[lang.header_nav_women]]
            </div>
        </div>
        <div class="layui-row layui-col-space20">
            <div class="layui-col-md12">
                <img src="[[url_for('static', filename='img/background1.png')]]" width="100%" height="400px"/>
            </div>
        </div>
        <div class="layui-row layui-col-space20">
            <div class="layui-col-md12">
                [[lang.common_new_arrivals]]
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        layui.config({
            base: '../static/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'layer', 'publicCommon'], function () {
            var $ = layui.$,
                admin = layui.admin,
                layer = layui.layer;
        });
    </script>
{% endblock %}