{% extends "basic.html" %}
{% block title %}[[lang.company_name]]{% endblock %}
{% block css %}
    <link rel="stylesheet" href="[[url_for('static', filename='style/login.css')]]" type="text/css" media="all">
{% endblock %}
{% block content %}
    <main class="container" style="max-width: 1920px;margin-top: 60px;">
        <div class="row">
            <div class="col-sm-6 col-12">
                <img style="cursor: pointer;object-fit: contain" src="[[url_for('static', filename='img/indexMen.jpg')]]" id="index-nav-men-img-btn" width="100%"/>
                <p class="text-uppercase" style="font-size: 13px;margin-top: 10px;">[[lang.header_nav_men]]</p>
            </div>
            <div class="col-sm-6 col-12">
                <img style="cursor: pointer;object-fit: contain" src="[[url_for('static', filename='img/indexWomen.jpg')]]" id="index-nav-women-img-btn" width="100%"/>
                <p class="text-uppercase" style="font-size: 13px;margin-top: 10px;">[[lang.header_nav_women]]</p>
            </div>
            <div class="col-12">
                <img style="cursor: pointer" src="[[url_for('static', filename='img/indexNew.jpg')]]" id="index-nav-new-img-btn" width="100%"/>
                <p class="text-uppercase" style="font-size: 13px;margin-top: 10px;">[[lang.common_new_arrivals]]</p>
            </div>
        </div>
    </main>
{% endblock %}
{% block js %}
    <script>
        layui.config({
            base: '../static/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'layer', 'laypage'], function () {
            var $ = layui.$,
                admin = layui.admin,
                laypage = layui.laypage,
                layer = layui.layer;

            $('#index-nav-men-img-btn').on('click', function () {
                window.location.href = "/[[lang_type]]-men/commonSample"
            });
            $('#index-nav-women-img-btn').on('click', function () {
                window.location.href = "/[[lang_type]]-women/commonSample"
            });
        });
    </script>
{% endblock %}